extends layout

block content
	h2= events.length
		|  Events
	if eventsNow == 1
		h3 1 event happening <code>NOW</code>
	else
		h3= eventsNow
			|  events happening <code>NOW</code>
	table.table
		thead
			tr
				th Attendees
				th Event name
				th Begins
				th Ends
				th Address
				th Password protected
				th Messages
				th Files in dropbox
				th Removed
				th Remove
					br
					span Revive
		tbody
			for event in events
				tr
					td= event.attendees.length
					td= event.name
					td= event.start.toUTCString()
					td= event.end.toUTCString()
					td= event.address
					td
						if event.accessRequirements.password == true
							span.glyphicon.glyphicon-ok
						else
							span.glyphicon.glyphicon-remove
					td= event.messages.length
					td= event.files.length
					td
						if event.deleted == true
							span.glyphicon.glyphicon-ok
						else
							span.glyphicon.glyphicon-remove
					td
						if event.deleted
							a.btn.btn-success.btn-xs(href="/admin/events/#{event._id}/revive")
								span.glyphicon-ok.glyphicon
								span  Revive
						else
							a.btn.btn-danger.btn-xs(href="/admin/events/#{event._id}/delete")
								span.glyphicon.glyphicon-remove
								span  Remove