extends layout

block content
	h2= users.length
		|  Users
	table.table
		thead
			tr
			th Name
			th Surname
			th Email
			th Created
			th Twitter
			th Facebook
			th LinkedIn
			th Admin
			th Remove
			th OP
		tbody
		for user in users
			tr
				td= user.name
				td= user.surname
				td= user.email
				td= user.created.getDate()
					| /
					= user.created.getMonth()+1
					| /
					= user.created.getFullYear()
					|  
					= user.created.getHours()
					| :
					= user.created.getMinutes()
					| :
					= user.created.getSeconds()
				td
					if user.twitter.userid == null
						span
					else
						span.glyphicon.glyphicon-ok
				td
					if user.facebook.userid == null
						span
					else
						span.glyphicon.glyphicon-ok
				td
					if user.linkedin.userid == null
						span
					else
						span.glyphicon.glyphicon-ok
				td
					if user.admin == false
						span
					else
						span.glyphicon.glyphicon-ok
				td
					a.btn.btn-danger.btn-xs(href="/admin/users/#{user._id}/remove")
						span.glyphicon.glyphicon-remove
						span  Remove

				td
					if user.admin
						a.btn.btn-danger.btn-xs(href="/admin/users/#{user._id}/deop")
							span.glyphicon.glyphicon-chevron-down
							span  DEOP
					else
						a.btn.btn-success.btn-xs(href="/admin/users/#{user._id}/op")
							span.glyphicon.glyphicon-chevron-up
							span  OP
					| &nbsp;
					if (user.adminMeeting == false && user.admin == false)
						a.btn.btn-default.btn-xs(href="/admin/users/#{user._id}/hire")
							i.fa.fa-users
							span  Show Meeting
					else
						if (user.admin == false && user.adminMeeting == true)
							a.btn.btn-danger.btn-xs(href="/admin/users/#{user._id}/fire")
								i.fa.fa-users
								span  Hide Meeting