extends ../responsive

append addonjs
	script(src="/js/saveProfile.js?v=#{versionHash}" defer)

mixin mobileText(text, id, name, required, value, type, placeholder)
	.col-xs-12.hide-all3(style="float:none; margin:4px auto; height:30px;")
		.col-lg-12.col-md-12.col-xs-12.bg-purple.pad-right-zero(style="min-height:30px;")
			.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e1.psev.right(style="padding-top:9px; height:30px;")
				= text
			.psev.col-lg-9.col-md-9.col-xs-9(style="height:30px; margin-top:-3px;")
				input.input-grey(id="LoginUserMobile#{id}", ng-model=name, name=name, placeholder=placeholder ? placeholder : null, type= type ? type : "text", required= required ? "required" : null, value=value)
mixin mobileTextarea(text, id, name, required, value)
	.col-xs-12.hide-all3(style="float:none; margin:4px auto; height:120px;")
		.col-lg-12.col-md-12.col-xs-12.bg-purple.pad-right-zero(style="min-height:120px;")
			.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e1.psev.right(style="padding-top:9px; height:30px;")
				= text
			.psev.col-lg-9.col-md-9.col-xs-9(style="height:30px; margin-top:3px;")
				textarea.input-grey.textarea-grey(id="LoginUserMobile#{id}", ng-model=name, name=name, value=value, type="textarea", required= required ? "required" : null, rows="4", cols="50" style="padding-top:5px; min-height:102px;")

mixin text(text, id, name, required, value, first, type, placeholder)
	.col-lg-8.col-md-8.col-xs-8.pad-left-zero.bg-purple.pad-right-zero(class= first ? null : "nspacer")
		.pad-left-zero.col-lg-4.col-md-4.col-xs-4.font-e.psev.right
			= text
		.psev.col-lg-8.col-md-8.col-xs-8
			input.input-grey(id="LoginUser#{id}", ng-model=name, ng-init="#{name}='#{value}'" placeholder= placeholder ? placeholder : null name=name, type= type ? type : "text", required= required ? "required" : null, value=value)

mixin textBig(text, id, name, required, value, first, type, placeholder)
	.col-lg-12.col-md-12.col-xs-12.bg-purple.pad-right-zero(class= first ? null : "nspacer", style="min-height:40px;")
		.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e.psev.right
			= text
		.psev.col-lg-9.col-md-9.col-xs-9
			input.input-grey(id="LoginUser#{id}", ng-model=name, ng-init="#{name}='#{value}'" placeholder= placeholder ? placeholder : null name=name, type= type ? type : "text", required= required ? "required" : null, value=value)

mixin textarea(text, id, name, required, value)
	.col-lg-12.col-md-12.col-xs-12.bg-purple.nspacer.pad-right-zero.hide-mini3(style="min-height:118px;")
		.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e.psev.right
			= text
		.psev.col-lg-9.col-md-9.col-xs-9
			textarea.input-grey.textarea-grey(id="LoginUser#{id}", ng-model=name, ng-init="#{name}='#{value}'", name=name, type="textarea", required= required ? "required" : null, rows="4", cols="50", style="padding-top:5px; min-height:102px;")= value

block content
	form#profileForm(action="/profile/save", method="POST", enctype="multipart/form-data", style="clear:both")
		input(type="hidden", name="_csrf", value=token)
		input.hide#avatar(type="file", name="avatar")
		.col-lg-12.col-md-12.col-xs-12.center.nspacer.font
			img.pad-right-ten(src="/images/man.svg", alt="",  class="img-responsive inline", style="margin:7px auto; vertical-align:bottom;")
			| Edit your public profile
		.col-lg-12.col-md-12.col-xs-12.font-e.center.nspacer
			| All fields are
			img.pad-left-ten(src="/images/optional.svg", alt="",  class="img-responsive inline", style="margin:-2px auto; vertical-align:bottom;")
		.clearfix
		.nspacer-big
		.col-lg-9.col-md-9.col-xs-9.hide-mini3(style="float:none; margin:auto;")
			.col-lg-4.col-md-4.col-xs-4.ei.hide-mini3
				a.link-green.avatar-upload-btn(href="#")
					img.img-responsive.avatar-upload-image.pad-right-ten(src= user.avatar.length == 0 ? "/images/big-avatar-blue.svg" : user.avatar, style="max-height: 125px; margin:0 auto;")
					.font-e.center
						| upload avatar

			.ei.hide-mini3
				mixin text("First Name:", "Name", "name", false, user.name)
				mixin text("Last Name:", "Surname", "surname", false, user.surname)
				mixin text("Company:", "Company", "company", false, user.company)
			.clearfix
	
		//- mobile only
		.col-lg-12.hide-all3(style="float:none; margin:auto;")
			a.link-green.avatar-upload-btn(href="#")
				img.avatar-upload-image(src= user.avatar.length == 0 ? "/images/big-avatar-blue.svg" : user.avatar, class="img-responsive", style="float:none; margin:auto;")
				.font-ah.center
					| upload avatar
		.nspacer
		mixin mobileText("First Name", "Name", "name", false, user.name)
		mixin mobileText("Last Name", "Surname", "surname", false, user.surname)
		mixin mobileText("Company", "Company", "company", false, user.company)
		mixin mobileText("Position", "Position", "position", false, user.position)
		mixin mobileText("Location", "Location", "location", false, user.location)
		mixin mobileText("Interests", "Interests", "interests", false, user.interests)
		mixin mobileText("Website", "Website", "website", false, user.website)
		mixin mobileText("Education", "Education", "education", false, user.education)
		mixin mobileTextarea("Description", "Description", "description", false, user.desc)
		//- end mobile only	
	
		.col-lg-9.col-md-9.col-xs-9.hide-mini3(style="float:none; margin:4px auto;")
			mixin textBig("Position:", "Position", "position", false, user.position, true)
			mixin textBig("Location:", "Location", "location", false, user.location)
			mixin textBig("Interests:", "Interests", "interests", false, user.interests)
			mixin textBig("Website:", "Website", "website", false, user.website)
			mixin textBig("Education:", "Education", "education", false, user.education)
			mixin textarea("Description:", "Description", "desc", false, user.desc)
		.clearfix
		.row
			.nspacer
			//- the -xs-offset-* class will be fixed in next bootstrap release..
			button#profileSaveButton.col-lg-offset-5.col-md-offset-5.col-xs-offset-2.col-sm-offset-5.col-lg-2.col-md-2.col-xs-8.col-sm-2.btn.btn-primary.font-e.font-ah(type='submit', style="padding:20px; padding-left:35px; padding-right:35px;")
				b Save
			p#profileSaveStatus.col-lg-5.col-md-5.col-sm-5.hide.lead(style="padding-top:18px;")
				b Saved!