extends ../responsive

append addonjs
	script(src="/v2/js/saveProfile.js", defer="defer")

mixin mobileText(text, id, name, required, value)
	.col-xs-12.hide-all3(style="float:none; margin:4px auto; height:30px;")
		.col-lg-12.col-md-12.col-xs-12.bg-purple.pad-right-zero(style="min-height:30px;")
			.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e1.psev.right(style="padding-top:9px; height:30px;")
				= text
			.psev.col-lg-9.col-md-9.col-xs-9(style="height:30px; margin-top:-3px;")
				input.input-grey(id="LoginUserMobile#{id}", ng-model=name, name=name, type="text", required= required ? "required" : null, value=value)
mixin mobileTextarea(text, id, name, required, value)
	.col-xs-12.hide-all3(style="float:none; margin:4px auto; height:120px;")
		.col-lg-12.col-md-12.col-xs-12.bg-purple.pad-right-zero(style="min-height:120px;")
			.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e1.psev.right(style="padding-top:9px; height:30px;")
				= text
			.psev.col-lg-9.col-md-9.col-xs-9(style="height:30px; margin-top:3px;")
				textarea.input-grey.textarea-grey(id="LoginUserMobile#{id}", ng-model=name, name=name, value=value, type="textarea", required= required ? "required" : null, rows="4", cols="50" style="padding-top:5px; min-height:102px;")

mixin text(text, id, name, required, value, first)
	.col-lg-8.col-md-8.col-xs-8.pad-left-zero.bg-purple.pad-right-zero(class= first ? null : "nspacer")
		.pad-left-zero.col-lg-4.col-md-4.col-xs-4.font-e.psev.right
			= text
		.psev.col-lg-8.col-md-8.col-xs-8
			input.input-grey(id="LoginUser#{id}", ng-model=name, ng-init="#{name}='#{value}'", name=name, type="text", required= required ? "required" : null, value=value)

mixin textBig(text, id, name, required, value, first)
	.col-lg-12.col-md-12.col-xs-12.bg-purple.pad-right-zero(class= first ? null : "nspacer", style="min-height:40px;")
		.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e.psev.right
			= text
		.psev.col-lg-9.col-md-9.col-xs-9
			input.input-grey(id="LoginUser#{id}", ng-model=name, ng-init="#{name}='#{value}'", name=name, type="text", required= required ? "required" : null, value=value)

mixin textarea(text, id, name, required, value)
	.col-lg-12.col-md-12.col-xs-12.bg-purple.nspacer.pad-right-zero.hide-mini3(style="min-height:118px;")
		.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e.psev.right
			= text
		.psev.col-lg-9.col-md-9.col-xs-9
			textarea.input-grey.textarea-grey(id="LoginUser#{id}", ng-model=name, ng-init="#{name}='#{value}'", name=name, type="textarea", required= required ? "required" : null, rows="4", cols="50", style="padding-top:5px; min-height:102px;")= value

block content
	form#profileForm(action="/profile/save", method="POST")
		input(type="hidden", name="_csrf", value=token)
		.col-lg-12.col-md-12.col-xs-12.center.nspacer.font
			img.pad-right-ten(src="/images/man.svg", alt="",  class="img-responsive inline", style="margin:7px auto; vertical-align:bottom;")
			| Edit your profile
		.col-lg-12.col-md-12.col-xs-12.font-e.center.nspacer
			| All fields are
			img.pad-left-ten(src="/images/optional.svg", alt="",  class="img-responsive inline", style="margin:-2px auto; vertical-align:bottom;")
		.clearfix
		.nspacer-big
		.col-lg-9.col-md-9.col-xs-9.hide-mini3(style="float:none; margin:auto;")
			.col-lg-4.col-md-4.col-xs-4.ei.hide-mini3
				img.pad-right-ten(src="/images/big-avatar-blue.svg", alt="",  class="img-responsive",)
				a.link-green(href="", alt="", title="")
					.font-e.center
						| upload avatar

			.ei.hide-mini3
				mixin text("Email:", "Email", "email", true, user.email, true)
				mixin text("First Name:", "Name", "name", false, user.name)
				mixin text("Last Name:", "Surname", "surname", false, user.surname)
			.clearfix
	
		//- mobile only
		.col-lg-12.hide-all3(style="float:none; margin:auto;")
			img(src="/images/big-avatar-blue.svg", alt="",  class="img-responsive", style="float:none; margin:auto;")
			a.link-green(href="", alt="", title="")
				.font-ah.center
					| upload logo/picture
		.nspacer
		.col-xs-12.hide-all3(style="float:none; margin:0px auto; height:30px;")
			.col-lg-12.col-md-12.col-xs-12.bg-purple.pad-right-zero(style="min-height:30px;")
				.pad-left-zero.col-lg-3.col-md-3.col-xs-3.font-e1.psev.right(style="padding-top:9px; height:30px;")
					| Email
				.psev.col-lg-9.col-md-9.col-xs-9(style="height:30px; margin-top:-3px;")
					input.input-grey#LoginUserMobileEmail(name="email", ng-model="email", type="email", required="required", value=user.email)
		mixin mobileText("First Name", "Name", "name", false, user.name)
		mixin mobileText("Last Name", "Surname", "surname", false, user.surname)
		mixin mobileText("Company", "Company", "company", false, user.company)
		mixin mobileText("Position", "Position", "position", false, user.position)
		mixin mobileText("Location", "Location", "location", false, user.location)
		mixin mobileText("Interests", "Interests", "interests", false, user.interests)
		mixin mobileText("Website", "Website", "website", false, user.website)
		mixin mobileText("Education", "Education", "education", false, user.education)
		mixin mobileTextarea("Description", "Description", "description", false, user.desc)
		//- end mobile only	
	
		.col-lg-9.col-md-9.col-xs-9.hide-mini3(style="float:none; margin:4px auto;")
			mixin textBig("Company:", "Company", "company", false, user.company, true)
			mixin textBig("Position:", "Position", "position", false, user.position)
			mixin textBig("Location:", "Location", "location", false, user.location)
			mixin textBig("Interests:", "Interests", "interests", false, user.interests)
			mixin textBig("Website:", "Website", "website", false, user.website)
			mixin textBig("Education:", "Education", "education", false, user.education)
			mixin textarea("Description:", "Description", "description", false, user.desc)
		.clearfix
		.row
			.nspacer
			//- the -xs-offset-* class will be fixed in next bootstrap release..
			button#profileSaveButton.col-lg-offset-5.col-md-offset-5.col-xs-offset-2.col-sm-offset-5.col-lg-2.col-md-2.col-xs-8.col-sm-2.btn.btn-primary.font-e.font-ah(type='submit', style="padding:20px; padding-left:35px; padding-right:35px;")
				b Save
			p#profileSaveStatus.col-lg-5.col-md-5.col-sm-5.hide.lead(style="padding-top:18px;")
				b Saved!