extends ../../responsive

include ../inc/navbar
include ../inc/attendee

block content
	+navbar
	.clearfix
	
	.col-sm-9.col-md-9.col-lg-6
		h1 Feedback Profiles
	.col-sm-3.col-md-3.col-lg-6
		br.hidden-xs
		a.nspacer.btn.btn-primary.pull-right(href="/event/#{ev._id}/admin/feedback/new") New Feedback Profile
		br.visible-xs
		br.visible-xs
	.clearfix
	.nspacer
	for attendee in ev.attendees
		if (attendee.user.isFeedbackProfile && attendee.user.feedbackProfileEvent.equals(ev._id))
			+attendee(attendee, true)
			.pull-right.text-left.pad-left-ten
				<a href="/event/#{ev._id}/admin/feedback/#{attendee._id}/inbox/"> 
				.right.iconsbox.spacerbig
					img.img-mess-smart(src="/images/feedback-inbox.svg", alt="", style="width:100%; ")
				</a>
			.pull-right.text-left.pad-left-ten
				.right.iconsbox.spacerbig
					a(href="/event/#{ev._id}/admin/feedback/#{attendee._id}")
						img.img-mess-smart(src="/images/edit-prof.svg")
					.nspacer
		.clearfix
		.nspacer
	.clearfix