extends ../../responsive
include ../inc/navbar

block content
	+navbar
	//- header of the content

	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.inline
			img(src="/images/other-logo.svg", alt="", class="img-responsive")
		.inline
			.font-lebig.inline.pad-left-ten.button-font
				| Change Event Layout
			.font-evente.pad-left-ten.button-font
				| Depending on the layout, you can add maximum 3 logos of the sponors. 
		.inline.pull-right
			button.btn.btn-primary.font-evente.hide-prof-butt.button-font(type='submit', style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;")
				| Go back to event page
	.clearfix

	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center.semi-bold.font-evente.button-font
			| Choose how you’d like the top portion of your event to look like:
		.center.font-evente.button-font
			| (Use the first three options if you don’t have an event logo)
	
	.clearfix

	//- option 1
	.nspacer-big
	
	.col-md-6.col-xs-6.col-sm-6
		.bg-yellow.font-bigs2.center.deifer-font2
			= ev.name
		.font-lebig.center.setting-line.nspacer.deifer-font
			| Thanks to our sponsor:
	.col-md-6.col-xs-6.col-sm-6
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")
	
	.clearfix
	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center
			form(action="/event/"+ev._id+"/edit", method="POST")
				input(type="hidden", name="_csrf", value=token)
				input(type="hidden", name="layout", value="0")
				input.btn.btn-primary.font-evente.hide-prof-butt.button-font(type="submit", style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;", value="CHOOSE")
	
	
	//- option 2
	.nspacer-big

	.col-md-12.col-xs-12.col-sm-12
		.bg-yellow.font-bigs2.center.deifer-font2
			= ev.name
		.font-lebig.center.setting-line.nspacer.deifer-font
			| Thanks to our sponsors:

	.clearfix
	.nspacer-big

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.col-md-4.col-xs-4.col-sm-4
		.font-lebig.center.setting-line.nspacer.deifer-font.and
			| and

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.clearfix
	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center
			form(action="/event/"+ev._id+"/edit", method="POST")
				input(type="hidden", name="_csrf", value=token)
				input(type="hidden", name="layout", value="1")
				input.btn.btn-primary.font-evente.hide-prof-butt.button-font(type="submit", style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;", value="CHOOSE")


		//- option 3

	.nspacer-big

	.col-md-12.col-xs-12.col-sm-12
		.bg-yellow.font-bigs2.center.deifer-font2
			= ev.name
		.font-lebig.center.setting-line.nspacer.deifer-font
			| Thanks to our sponsors:

	.clearfix
	.nspacer-big

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.clearfix
	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center
			form(action="/event/"+ev._id+"/edit", method="POST")
				input(type="hidden", name="_csrf", value=token)
				input(type="hidden", name="layout", value="2")
				input.btn.btn-primary.font-evente.hide-prof-butt.button-font(type="submit", style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;", value="CHOOSE")

		//- option 4

	.nspacer-big

	.col-md-12.col-xs-12.col-sm-12
		.bg-yellow.font-bigs2.center.deifer-font2
			= ev.name
		.font-lebig.center.setting-line.nspacer.deifer-font
			| Thanks to our sponsors:

	.clearfix
	.nspacer-big

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/your-logo.svg", alt="", class="img-responsive")

	.col-md-4.col-xs-4.col-sm-4
		.font-lebig.center.setting-line.nspacer.deifer-font.and
			| Thanks to <br />our <br />sponsor:

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.clearfix
	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center
			form(action="/event/"+ev._id+"/edit", method="POST")
				input(type="hidden", name="_csrf", value=token)
				input(type="hidden", name="layout", value="3")
				input.btn.btn-primary.font-evente.hide-prof-butt.button-font(type="submit", style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;", value="CHOOSE")

		//- option 5
	.nspacer-big

	.col-md-3.col-xs-3.col-sm-3
		img(src="/images/your-logo.svg", alt="", class="img-responsive")

	.col-md-9.col-xs-9.col-sm-9
		.bg-yellow.font-bigs2.center.deifer-font2
			= ev.name
		.font-lebig.center.setting-line.nspacer.deifer-font
			| Thanks to our sponsors:

	.clearfix
	.nspacer-big

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.col-md-4.col-xs-4.col-sm-4
		.font-lebig.center.setting-line.nspacer.deifer-font.and
			| and

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.clearfix
	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center
			form(action="/event/"+ev._id+"/edit", method="POST")
				input(type="hidden", name="_csrf", value=token)
				input(type="hidden", name="layout", value="4")
				input.btn.btn-primary.font-evente.hide-prof-butt.button-font(type="submit", style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;", value="CHOOSE")

	//- option 6
	.nspacer-big
	
	.col-md-3.col-xs-3.col-sm-3
		img(src="/images/your-logo.svg", alt="", class="img-responsive")

	.col-md-9.col-xs-9.col-sm-9
		.bg-yellow.font-bigs2.center.deifer-font2
			= ev.name
		.font-lebig.center.setting-line.nspacer.deifer-font
			| Thanks to our sponsors:

	.clearfix
	.nspacer-big

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.col-md-4.col-xs-4.col-sm-4
		img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

	.clearfix
	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center
			form(action="/event/"+ev._id+"/edit", method="POST")
				input(type="hidden", name="_csrf", value=token)
				input(type="hidden", name="layout", value="5")
				input.btn.btn-primary.font-evente.hide-prof-butt.button-font(type="submit", style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;", value="CHOOSE")