extends ../../responsive

include ../inc/navbar

append addonjs
	script(src="/js/adminPanel#{minified}.js", defer)

block content
	+navbar
	.clearfix

	br
	form.form-horizontal(action="/event/#{ev._id}/edit", method="POST")
		input(type="hidden", name="_csrf", value=token)
		.row
			.col-md-6.col-lg-6.col-sm-6
				h2.text-center Sponsor Logos
				br
				.from-group
					.col-sm-7.col-md-7.col-xs-8.col-lg-7.col-sm-offset-4.col-md-offset-4.col-xs-offset-4.col-lg-offset-4
						a.btn.btn-info(href="/event/#{ev._id}/admin/logos") Choose a different layout
				.clearfix
				br
				.form-group
					label.col-sm-4.col-md-4.col-xs-4.col-lg-4.control-label(for="sponsor1") Sponsor 1
					.col-sm-7.col-md-7.col-xs-8.col-lg-7(style="height:30px;")
						.progress.hide
							.progress-bar(aria-valuenow="", aria-valuemin="0", aria-valuemax="100", style="width: 100%")


						input.search-input.sponsor-browse(type="text" id="fileName" readonly="readonly" style="width:75%; padding-left:15px; padding-right:15px;")
						.file_input_div(style="display: inline;")
							input(type="button" id="buttonbrowse" value="Browse")
							input#sponsor1(type="file", name="sponsor1", placeholder="Avatar File", for="sponsor1Avatar"  style="cursor:poiner; width:100%; opacity:0; position:relative; left:0px; top:-30px;"  onchange="javascript: document.getElementById ('fileName') . value = this.value")

				.form-group
					.col-sm-7.col-md-7.col-xs-8.col-lg-7.col-sm-offset-4.col-md-offset-4.col-xs-offset-4.col-lg-offset-4
						img#sponsor1Avatar.img-responsive(src= ev.sponsorLayout.sponsor1 ? ev.sponsorLayout.sponsor1.url : "/images/sponsor-logo.svg")
				
				if (ev.sponsorLayout.layout > 0 && ev.sponsorLayout.layout != 3)
					.form-group
						label.col-sm-4.col-md-4.col-xs-4.col-lg-4.control-label(for="sponsor2") Sponsor 2
						.col-sm-7.col-md-7.col-xs-8.col-lg-7(style="height:30px;")
							.progress.hide
								.progress-bar(aria-valuenow="", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
							input.search-input.sponsor-browse(type="text" id="fileName2" readonly="readonly" style="width:75%; padding-left:15px; padding-right:15px;")
							.file_input_div(style="display: inline;")
								input(type="button" id="buttonbrowse" value="Browse")
								input#sponsor2(type="file", name="sponsor2", placeholder="Avatar File", for="sponsor2Avatar"  style="cursor:poiner; width:100%; opacity:0; position:relative; left:0px; top:-30px;"  onchange="javascript: document.getElementById ('fileName2') . value = this.value")
					.form-group
						.col-sm-7.col-md-7.col-xs-8.col-lg-7.col-sm-offset-4.col-md-offset-4.col-xs-offset-4.col-lg-offset-4
							img#sponsor2Avatar.img-responsive(src= ev.sponsorLayout.sponsor2 ? ev.sponsorLayout.sponsor2.url : "/images/sponsor-logo.svg")
				
				if (ev.sponsorLayout.layout == 2 || ev.sponsorLayout.layout == 5)
					.form-group
						label.col-sm-4.col-md-4.col-xs-4.col-lg-4.control-label(for="sponsor3") Sponsor 3
						.col-sm-7.col-md-7.col-xs-8.col-lg-7(style="height:30px;")
							.progress.hide
								.progress-bar(aria-valuenow="", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
							input.search-input.sponsor-browse(type="text" id="fileName3" readonly="readonly" style="width:75%; padding-left:15px; padding-right:15px;")
							.file_input_div(style="display: inline;")
								input(type="button" id="buttonbrowse" value="Browse")
								input#sponsor3(type="file", name="sponsor3", placeholder="Avatar File", for="sponsor3Avatar"  style="cursor:poiner; width:100%; opacity:0; position:relative; left:0px; top:-30px;"  onchange="javascript: document.getElementById ('fileName3') . value = this.value")
					.form-group
						.col-sm-7.col-md-7.col-xs-8.col-lg-7.col-sm-offset-4.col-md-offset-4.col-xs-offset-4.col-lg-offset-4
							img#sponsor3Avatar.img-responsive(src= ev.sponsorLayout.sponsor3 ? ev.sponsorLayout.sponsor3.url : "/images/sponsor-logo.svg")
			
			.col-md-6.col-lg-6.col-sm-6
				h2.text-center Event Settings
				br
				.from-group
					.col-sm-7.col-md-7.col-xs-8.col-lg-7.col-sm-offset-4.col-md-offset-4.col-xs-offset-4.col-lg-offset-4
						a.btn.btn-info(href="/event/#{ev._id}/edit") Edit Event
				.clearfix
				br
				.form-group
					label.col-sm-4.col-md-4.col-xs-4.col-lg-4.control-label(for="logo") Logo
					.col-sm-7.col-md-7.col-xs-8.col-lg-7(style="height:30px;")
						.progress.hide
							.progress-bar(aria-valuenow="", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
						input.search-input.sponsor-browse(type="text" id="fileName4" readonly="readonly" style="width:75%; padding-left:15px; padding-right:15px;")
						.file_input_div(style="display: inline;")
							input(type="button" id="buttonbrowse" value="Browse")
							input#sponsor3(type="file", name="avatar", placeholder="Avatar File", for="logoAvatar"  style="cursor:poiner; width:100%; opacity:0; position:relative; left:0px; top:-30px;"  onchange="javascript: document.getElementById ('fileName4') . value = this.value")
				.form-group
					.col-sm-7.col-md-7.col-xs-8.col-lg-7.col-sm-offset-4.col-md-offset-4.col-xs-offset-4.col-lg-offset-4
						img#logoAvatar.img-responsive(src=ev.avatar.url)
			
		.center
			.submit
				a.btn.btn-info(href="/event/#{ev._id}") Save Settings