div(style='background-color: #f6f6f6;')
	//if gte mso 9
		v:background(xmlns:v='urn:schemas-microsoft-com:vml', fill='t')
			v:fill(type='tile', src='http://i.imgur.com/n8Q6f.png', color='#f6f6f6')
	table(height='100%', width='100%', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
		tbody
			tr
				td(valign='top', align='left', background='http://eventmost.com/images/logo.svg', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
					center
						table#bodyTable(align='center', border='0', cellpadding='0', cellspacing='0', height='100%', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 0; padding: 0; background-color: #F2F2F2; height: 100% !important; width: 100% !important;')
							tbody
								tr
									td#bodyCell(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 0; padding: 0; border-top: 0; height: 100% !important; width: 100% !important;')
										//BEGIN TEMPLATE
										table(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
											tbody
												tr
													td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
														// BEGIN HEADER // 
														table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #FFFFFF; border-top: 0; border-bottom: 0;')
															tbody
																tr
																	td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																		table.templateContainer(border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																			tbody
																				tr
																					td.headerContainer(valign='top', style='padding-top: 10px; padding-bottom: 10px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																						table.mcnImageBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																							tbody.mcnImageBlockOuter
																								tr
																									td.mcnImageBlockInner(valign='top', style='padding: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																										table.mcnImageContentContainer(align='left', width='100%', border='0', cellpadding='0', cellspacing='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																											tbody
																												tr
																													td.mcnImageContent(valign='top', style='padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																														img.mcnImage(align='left', alt='', src='http://eventmost.com/images/logo.svg', width='312', style='max-width: 312px; padding-bottom: 0; display: inline !important; vertical-align: bottom; border: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;')
														//// END HEADER 
												tr
													td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
														// BEGIN BODY // 
														table#templateBody(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #FFFFFF; border-top: 0; border-bottom: 0;')
															tbody
																tr
																	td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																		table.templateContainer(border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																			tbody
																				tr
																					td.bodyContainer(valign='top', style='padding-top: 10px; padding-bottom: 10px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																						table.mcnTextBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																							tbody.mcnTextBlockOuter
																								tr
																									td.mcnTextBlockInner(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																										table.mcnTextContentContainer(align='left', border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																											tbody
																												tr
																													td.mcnTextContent(valign='top', style='padding: 9px 18px; color: #532437; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Helvetica; font-size: 15px; line-height: 150%; text-align: left;')
																														| Thanks taking part in your most recent event.  Below is some correspondence, questions, or feedback you received from the attendees:
																						table.mcnTextBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																							tbody.mcnTextBlockOuter
																								tr
																									td.mcnTextBlockInner(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																										table.mcnTextContentContainer(align='left', border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																											tbody
																												tr
																													td.mcnTextContent(valign='top', style='padding: 9px 18px; color: #532437; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Helvetica; font-size: 15px; line-height: 150%; text-align: left;')
																														h1.mc-toc-title(style='margin: 0; padding: 0; display: block; font-family: Helvetica; font-size: 40px; font-style: normal; font-weight: bold; line-height: 125%; letter-spacing: -1px; text-align: left; color: #606060 !important;')
																															strong Private Messages:
																						table.mcnCaptionBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																							tbody.mcnCaptionBlockOuter
																								tr
																									td.mcnCaptionBlockInner(valign='top', style='padding: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
												
													for message in messages
														//- message.message is Topic
														//- message.messages is [] of Message
														= JSON.stringify(message)
														- continue;
														for msg in message.messages
															table.mcnCaptionRightContentOuter(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																	tbody
																			tr
																				td.mcnCaptionRightContentInner(valign='top', style='padding: 0 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																					table.mcnCaptionRightImageContentContainer(align='left', border='0', cellpadding='0', cellspacing='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																						tbody
																							tr
																								td.mcnCaptionRightImageContent(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																									a(href='http://eventmost.com/user/#{message.sentBy._id}', title='', target='_self', style='word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																										img.mcnImage(alt='', src='"+avatarUrl+"', width='200', style='max-width: 200px; border: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; vertical-align: bottom;')
																					table.mcnCaptionRightTextContentContainer(align='right', border='0', cellpadding='0', cellspacing='0', width='264', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																						tbody
																							tr
																								td.mcnTextContent(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Helvetica; font-size: 15px; line-height: 150%; text-align: left;')
																									| #{message.message} - 
																									a(href='http://eventmost.com/profile', target='_self', style='word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #6DC6DD; font-weight: normal; text-decoration: underline;') #{message.sentBy.getName()}
																										
																											table.mcnTextBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																												tbody.mcnTextBlockOuter
																													tr
																														td.mcnTextBlockInner(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																															table.mcnTextContentContainer(align='left', border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																tbody
																																	tr
																																		td.mcnTextContent(valign='top', style='padding: 9px 18px; color: #532437; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Helvetica; font-size: 15px; line-height: 150%; text-align: left;')
																																			h1.mc-toc-title(style='margin: 0; padding: 0; display: block; font-family: Helvetica; font-size: 40px; font-style: normal; font-weight: bold; line-height: 125%; letter-spacing: -1px; text-align: left; color: #606060 !important;') Business Cards Received: 
												
												
												for card in feedbackProfile.user.receivedCards
													table.mcnImageGroupBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
															tbody.mcnImageGroupBlockOuter
																	tr
																		td.mcnImageGroupBlockInner(valign='top', style='padding: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																			table.mcnImageGroupContentContainer(align='left', width='273', border='0', cellpadding='0', cellspacing='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																				tbody
																					tr
																						td.mcnImageGroupContent(valign='top', style='padding-left: 9px; padding-top: 0; padding-bottom: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																							a(href='http://eventmost.com/user/#{card.from._id}', title='', target='_self', style='word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																								img.mcnImage(alt='', src='http://eventmost.com/businessards/"+businessCards[0].card._id+".png', width='264', style='max-width: 516px; padding-bottom: 0; border: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; vertical-align: bottom;')
																								table.mcnTextBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																									tbody.mcnTextBlockOuter
																										tr
																											td.mcnTextBlockInner(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																												table.mcnTextContentContainer(align='left', border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																													tbody
																														tr
																															td.mcnTextContent(valign='top', style='padding: 9px 18px; color: #532437; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Helvetica; font-size: 15px; line-height: 150%; text-align: left;')
																																h1.mc-toc-title(style='margin: 0; padding: 0; display: block; font-family: Helvetica; font-size: 40px; font-style: normal; font-weight: bold; line-height: 125%; letter-spacing: -1px; text-align: left; color: #606060 !important;') People who saved your profile: 
																		//// END BODY 
																tr
																	td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																		// BEGIN COLUMNS // 
																		table#templateColumns(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #FFFFFF; border-top: 0; border-bottom: 0;')
																			tbody
																				tr
																					td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																						table.templateContainer(border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																							tbody
																								tr
																									td.columnsContainer(align='left', valign='top', width='33%', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																										table.templateColumn(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																											tbody
																												tr
																													td.leftColumnContainer(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																														table.mcnCaptionBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																															tbody.mcnCaptionBlockOuter
																																tr
																																	td.mcnCaptionBlockInner(valign='top', style='padding: 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')

																for saver in savers
																	table.mcnCaptionBottomContent(align='left', border='0', cellpadding='0', cellspacing='0', width='false', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																			tbody
																					tr
																						td.mcnCaptionBottomImageContent(align='left', valign='top', style='padding: 0 9px 9px 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																							a(href='http://eventmost.com/user/#{saver.sentBy._id}', title='', target='_self', style='word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																								img.mcnImage(alt='', src='#{saver.sentBy.avatar}', width='164', style='max-width: 960px; border: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; vertical-align: bottom;')
																					tr
																						td.mcnTextContent(valign='top', style='padding: 0 9px 0 9px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Helvetica; font-size: 15px; line-height: 150%; text-align: left;', width='164') #{saver.sentBy.getName()}
																														// // END COLUMNS 
																												tr
																													td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																														// BEGIN FOOTER // 
																														table#templateFooter(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #F2F2F2; border-top: 0; border-bottom: 0;')
																															tbody
																																tr
																																	td(align='center', valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																		table.templateContainer(border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																			tbody
																																				tr
																																					td.footerContainer(valign='top', style='padding-top: 10px; padding-bottom: 10px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																						table.mcnTextBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																							tbody.mcnTextBlockOuter
																																								tr
																																									td.mcnTextBlockInner(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																										table.mcnTextContentContainer(align='left', border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																											tbody
																																												tr
																																													td.mcnTextContent(valign='top', style='padding: 9px 18px; color: #532437; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Helvetica; font-size: 11px; line-height: 125%; text-align: left;')
																																														h1.mc-toc-title(style='margin: 0; padding: 0; display: block; font-family: Helvetica; font-size: 40px; font-style: normal; font-weight: bold; line-height: 125%; letter-spacing: -1px; text-align: left; color: #606060 !important;')
																																															| To fully open this profile, simply click on the link
																																															a(href='http://eventmost.com', target='_self', style='word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-weight: normal; text-decoration: underline;') here.
																																						table.mcnTextBlock(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																							tbody.mcnTextBlockOuter
																																								tr
																																									td.mcnTextBlockInner(valign='top', style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																										table.mcnTextContentContainer(align='left', border='0', cellpadding='0', cellspacing='0', width='600', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;')
																																											tbody
																																												tr
																																													td.mcnTextContent(valign='top', style='padding-top: 9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Helvetica; font-size: 11px; line-height: 125%; text-align: left;')
																																														em Copyright © 2013 EventMost, All rights reserved.
																																														br
																																														br
																																														br
																																														a.utilityLink(href='http://eventmost.us3.list-manage2.com/unsubscribe?u=0c3c02b31e9cfa531662fd278&id=2e59d23858&e=[UNIQID]&c=f8d4fe64dd', style='word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-weight: normal; text-decoration: underline;') Unsubscribe from this list
																																														a.utilityLink(href='http://eventmost.us3.list-manage.com/profile?u=0c3c02b31e9cfa531662fd278&id=2e59d23858&e=[UNIQID]', style='word-wrap: break-word; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-weight: normal; text-decoration: underline;') Update subscription preferences
																																														br
																																														br