extends base

block addonjs
	script(src="/js/geo.js")
	script(src="/js/getNearbyEvents.js")

append content
	include inc/flash
	include modals/homemodals
	.avatar2.headerSpacer 
		a(href="/profile")
			img(src=user.avatar, alt="" style="width:100%; height:99.5%;")
	.right.span13p
		.orangebox.inh
			a.link6(href="/event/add") Create event 
			.box2
				.iconbox
					img(src="/img/people.svg", alt="")
					.center event
				.iconbox
					img(src="/img/meetup.svg", alt="")
					.center meetup
				.iconbox
					img(src="/img/conference.svg", alt="")
					.center conference
				.iconbox2
					img(src="/img/other.svg", alt="")
					.center other
	
	//- User card
	.avatar.redbox
		p.prof= user.getName()
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a.link4(href="/profile", alt="", title="") Edit profile
			if user.admin
				.set
					a.link4(href="/admin", alt="", title="") Administration
		img(src="/img/card.svg", alt="")
		a.link4(href="/cards", alt="", title="")
			| Choose your bussines card
		.headerSpacer
		.clearfix
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a.link4(href="", alt="", title="", data-reveal-id="NotificationModal")
					| Notification settings
		.clearfix
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a.link4(href="", alt="", title="", data-reveal-id="PrivacyModal")
					| Privacy settings
		.clearfix
		a(href="/logout", class="logout") Logout
	
	//- Events nearby
	a(href="/events/near", alt="Events Nearby")
		.span7p.propermaps
			h12 Events<br /> nearby
			img(src="/img/map-icon2.svg", alt="", class="arrow")
	//- Events
	a(href="/events", alt="Events")
		.span7p.yellow.propermaps
			h13 All<br /> events
			img(src="/img/arrow_big.svg", alt="", class="arrow")
	.clearfix
	

	
	//- My Events
	.bluebox
		a.link4(href="/events/my") My events
		.right.arrange
			| Arrange by
		.clearfix
		.right
			dl.dropdown
				dt
					a.dropx(href="#")
						| select
				dd
					ul
						li
							a(href="#",) Most recent to latest
						li
							a(href="#",) Latest to most recent
						li
							a(href="#",) Events name A-Z
						li.border_bottom
							a(href="#") My planned events
	- var myeventsi = 0;
	for event in myevents
		.row-fluid
			.events
				.span1p
					img(src="/img/map-icon.svg", alt="",)
				.span1
					img.minus(src=event.avatar, alt="")
				.span8p
					a(href="/event/"+event._id)
						h8= event.name
					p.eventtext= event.description
				.right_star
					img(src="/img/martini.svg", alt="", class="arrow")
				.right_star
					.image2
						img.image2(src="/img/calendar-icony.svg", alt="")
						h16= event.start.getDate()
							| .
							= event.start.getMonth()+1
							br
							= event.start.getFullYear()
				.right_star
					.left
						img(src="/img/clock.svg", alt="", class="arrow")
					.left.date #{event.start.getHours()}:#{event.start.getMinutes()}
						br
						| (BST)
				.left.headerSpacer
					.left
						img(src="/img/map6.svg", alt="", class="arrow")
					.left.location
						if event.address && event.address.length > 0
							h1= event.address
						else
							h1 Location unavailable
		- if (++myeventsi < myevents.length)
			.line
		- else
			br
		.clearfix
	if myevents.length == 0
		.row-fluid
			.span12
				p.text-center.eventtext You have no events
	
	.bluebox
		a.link4(href="/events/near") Events nearby
		.right.arrange
			| Arrange by
		.clearfix
		.right
			dl.dropdown
				dt
					a(href="#", class="dropx") 
						| select
				dd
					ul
						li
							a(href="#",) Most recent to latest
						li
							a(href="#",) Latest to most recent
						li
							a(href="#",) Events name A-Z
						li.border_bottom
							a(href="#") My planned events
	.row-fluid#nearbyEventsPlaceholder
		.span12
			p.text-center.eventtext Looking for events..
	