extends responsive

append addonjs
	script(src="/js/geo.js", defer="true")
	script(src="/js/getNearbyEvents.js", defer="true")

append content
	include inc/flash

	
	.col-md-3.col-xs-3.nspacer
		a(href="/profile")
			//- img(src=user.avatar, alt="" style="")
			img(src="/images/big-avatar.svg", alt="")
	a(href="/event/add")
		.col-md-9.col-xs-9.nspacer.bg-purple.font-bigs.font-thin.center(style='height:138px;') 
			a.link-ashen(href="/event/add" style="letter-spacing:30px;") Create event
			.clearfix
			.inline.font-e(style='width:15%;') 
				img(src="/images/people-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center event
			.inline.font-e(style='width:15%;')
				img(src="/images/martini-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center meetup
			.inline.font-e(style='width:15%;')
				img(src="/images/conference-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center conference
			.inline.font-e(style='width:15%;')
				img(src="/images/other-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center other
	//- User card
	.col-md-3.col-xs-3.nspacer
		.bg-ashen(style='height:312px;') 
			p.break.font-e.center.font-thin2(style='padding-top:10px;')= user.getName()
			.pull-left.pad-left-ten
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.font-thin2
				a.link-purple(href="/profile", alt="", title="") Edit profile
				if user.admin
					.set
						a.link4(href="/admin", alt="", title="") Administration
			.center
				img(src="/images/default-card.svg", alt="" class="nspacer-small")
				a.link-purple.font-thin2(href="/cards", alt="", title="")
					| Choose your bussines card
			.pull-left.pad-left-ten.nspacer-small
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.nspacer-small.font-thin2
				a.link-purple(href="", alt="", title="", data-reveal-id="NotificationModal")
					| Notification settings
			.clearfix
			.pull-left.pad-left-ten.nspacer-small
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.nspacer-small.font-thin2
				a.link-purple(href="", alt="", title="", data-reveal-id="PrivacyModal")
						| Privacy settings
			.clearfix
			.center.nspacer
				a(href="/logout", class="logout link-yellow")
					button.btn.btn-default.font-e(type='submit', data-reveal-id="loginModal" style="border-radius: 8px; margin-bottom:10px;")
						| Logout
	//- Events nearby
	.col-md-9.col-xs-9.nspacer.pad-right-zero.pad-left-zero(style='height:313px;')
		.col-md-6.col-xs-6.nspacer.pad-right-zero.pad-left-zero
			a.link-green2(href="/events/near", alt="Events Nearby")
				.font-bigs.font-thin.center(style='padding-top:20px;') 
					| Events nearby
					img(src="/images/location-icon.svg", alt="", class="arrow")
		//- Events
		.col-md-6.col-xs-6.nspacer.bg-yellow.pad-right-zero.pad-left-zero
			a.link-purple2(href="/events", alt="Events")
				.font-bigs.font-thin.center(style='padding-top:35px;') 
					| All events<br />
					img(src="/images/purple-arrow.svg", alt="", style='padding-bottom:35px;') 
		.clearfix
		.col-md-12.col-xs-12.bg-green.nspacer
			.font-bigs.font-thin
				| My Events
	.clearfix
	//- My Events
	.nspacer.col-md-12.col-xs-12
		.pull-left.event(style='width:101.4%;')
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.rbox(style='height:169px; padding-left:15px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix
		.left.smallspacer.leng
			.bluebox
				a.link4(href="/events/my") My events
				.right.arrange
				| Arrange by
			.clearfix
			.right
				dl.dropdown
					dt
						a.dropx(href="#")
							| select
					dd
						ul
							li
								a(href="#",) Most recent to latest
							li
								a(href="#",) Latest to most recent
							li
								a(href="#",) Events name A-Z
							li.border_bottom
								a(href="#") My planned events
	- var myeventsi = 0;
	for event in myevents
		.row-fluid
			.events
				.span1p
					img(src="/img/map-icon.svg")
				.span1
					if event.avatar && event.avatar.url
						img.minus(src=event.avatar.url, alt="")
					else
						img.minus(src="/img/default-logo.svg")
				.span8p
					a(href="/event/"+event._id)
						h8= event.name
					p.eventtext!= event.description
				.right_star
					img(src="/img/martini.svg", alt="", class="arrow")
				.right_star
					.image2
						img.image2(src="/img/calendar-icony.svg", alt="")
						h16= event.start.getDate()
							| .
							= event.start.getMonth()+1
							br
							= event.start.getFullYear()
				.right_star
					.left
						img(src="/img/clock.svg", alt="", class="arrow")
					.left.date #{event.start.getHours()}:#{event.start.getMinutes()}
						br
						| (BST)
				.left.headerSpacer
					.left
						img(src="/img/map6.svg", alt="", class="arrow")
					.left.location
						if event.address && event.address.length > 0
							h1= event.venue_name
							h3= event.address
						else
							h1 Location unavailable
		- if (++myeventsi < myevents.length)
			.line
		- else
			br
		.clearfix
	if myevents.length == 0
		.row-fluid
			.span12
				p.text-center.eventtext You have no events
	
	.bluebox
		a.link4(href="/events/near") Events nearby
		.right.arrange
			| Arrange by
		.clearfix
		.right
			dl.dropdown
				dt
					a(href="#", class="dropx") 
						| select
				dd
					ul
						li
							a(href="#",) Most recent to latest
						li
							a(href="#",) Latest to most recent
						li
							a(href="#",) Events name A-Z
						li.border_bottom
							a(href="#") My planned events
	.row-fluid#nearbyEventsPlaceholder
		.span12
			p.text-center.eventtext Looking for events..
	