!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		block meta
		title EventMost - #{title}
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet", href="/v2/css/bootstrap.min.css")
			link(rel="stylesheet", href="/v2/css/bootstrap-eventmost.css")
			
			//- Temporary hack until BS3.0.1 comes out.. 
			style
				.modal-open, .modal-open .navbar-fixed-top {
					margin-right: auto !important;
				}

	body(ng-app="eventMost")
		//- main container
		block container
		header
			.container
				.pull-left.col-md-4.col-xs-4
					a(href="/")
						
				if everyauth.loggedIn != true
					.pull-right.logo-right
							//- Only displayed when users are guests
							button.btn.btn-default.pb.pull-right(type='submit', data-toggle="modal", href="#loginModal",  style="margin-right:-4px;")
								| <b>LOGIN</b>
							button.btn.btn-warning.pb.pull-right(type='submit', data-toggle="modal", href="#signModal",)
								| <b>SIGN UP</b>
				else
					//- Only displayed when user is logged in
					.pull-right.col-md-2.col-xs-2
						a.image(href="/conversations")
						if user.mailboxUnread == 0
							img.mail.pull-right(src="/images/message-icon.svg", alt="")
						else
							img(src="/img/messages.svg") 
					.row-fluid.minus2
						.message-nr
							h20= user.mailboxUnread
					.col-md-6.col-xs-6.pull-right
						.pull-right.nspacer-small
							a(href="/", class="font-e link-purple header-links") Home 
							| |
							a(href="/event/add", class="font-e link-purple header-links")  Create event
						.clearfix
						.nspacer
							form(method="POST", accept-charset="utf-8")
								input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
								input(type="hidden", name="_csrf", value=token)
								input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:75%;")
			
		.container
			block content
			.row-fluid
				footer
					.copy.text-center Copyright &copy; 2013 <b>EventMost</b>. All rights reserved. &nbsp;
			
			if everyauth.loggedIn != true
				include modals/signup
			
		//- usually globally persistent
		block js
			script(src="/v2/js/gan.js", async="true")
			script(src="/v2/js/jquery.min.js", defer="true")
			script(src="/v2/js/bootstrap.min.js", defer="true")
			script(src="/js/jquery-ui-1.10.3.custom.min.js", defer="true")
			script(src="/js/jquery.ui.touch-punch.min.js", defer="true")
			script(src="/js/jquery.tinycarousel.min.js", defer="true")
			script(src="/js/tinycarousel2.js", defer="true")
			script(src="/js/over-box.js", defer="true")
			if everyauth.loggedIn != true
				script(src="/v2/js/signin.js", defer="true")
				
		//- page-specific
		block addonjs
