!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		if (typeof ev !== "undefined")
			meta(name="event_id", content="#{ev._id}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title EventMost - #{title}
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet", href="/css/bootstrap.min.css")
			link(rel="stylesheet", href="/css/bootstrap-eventmost#{minified}.css")
			link(rel="stylesheet", href="/css/toggle-switch#{minified}.css")
			
			//- Temporary hack until we use BS > 3.0.0.. 
			style.
				.modal-open, .modal-open .navbar-fixed-top {
					margin-right: auto !important;
				}

	body(ng-app="eventMost")
		//- main container
		block container
		header
			.container
				.row
					.pull-left.col-md-4.col-xs-4
						a(href="/")
							img.nspacer.logos(src="/images/logo.svg")
				
					if loggedIn == false
						.pull-right.logo-right
								//- Only displayed when users are guests
								button.btn.btn-warning.pb.pull-right(type='button', data-toggle="modal", href="#signModal")
									b SIGN UP
								button.btn.btn-default.pb.pull-right(type='button', data-toggle="modal", href="#loginModal", style="margin-right:-4px;")
									b LOGIN
					else
						//- Only displayed when user is logged in
						.pull-right.width7
							a.image(href="/inbox")
								img.mail.pull-right.img-mess-smart(src="/images/notes-icon.svg", alt="", style="width:100%;")
								.row-fluid.minus2
									.message-nr
										h20 0
							.font-header-icon2
								| Notes


						.pull-right.width7
							a.image(href="/inbox")
								if user.mailboxUnread == 0
									img.mail.pull-right.img-mess-smart(src="/images/message-icon.svg", alt="", style="width:100%;")
								else
									img.mail.pull-right.img-mess-smart(src="/images/message-icon.svg", alt="", style="width:100%;")
								.row-fluid.minus2
									.message-nr
										h20= user.mailboxUnread
							.font-header-icon
								| Inbox


						.col-md-6.col-xs-6.pull-right
							.pull-right.nspacer-small
								a.font-e.link-purple.header-links(href="/") Home
								if !recentEvent
									|  | 
									a.font-e.link-purple.header-links(href="/event/add") Create event
								if user.admin
									|  | 
									a.font-e.link-purple.header-links(href="/admin") Administration
								if recentEvent
									|  | 
									a.font-e.link-purple.header-links(href="/event/"+recentEvent) Return to Event: #{recentEventName}
							.clearfix
							.nspacer.hide-mini
								form(method="GET", accept-charset="utf-8", action="/search/people/")
									input.gonew2.pull-right.header-links(type="submit", value="GO", style="width:10%;")
									input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", name="q", placeholder="search for people on EventMost", style="width:75%;", value= typeof search !== "undefined" ? search.query : null)
			
		.container
			.col-xs-12.hide-all2
				form(method="POST", accept-charset="utf-8")
					input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
					input(type="hidden", name="_csrf", value=token)
					input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
			.clearfix.hide-all2
			
			include inc/flash
			block content
			.row
				footer.col-xs-12.col-md-12.col-sm-12.col-lg-12
					.text-center Copyright © 2013 <b>EventMost</b> | 
						a.link-white(href="/contact") Contact us
						small.pull-right v#{version} - ##{versionHash}
			if !loggedIn
				include modals/signup
			
		//- usually globally persistent
		block js
			script(src="/js/gan#{minified}.js", async)
			script(src="/js/jquery.min.js", defer)
			script(src="/js/bootstrap.min.js", defer)
			script(src="/js/angular.min.js", defer)
			script(src="/js/angular-eventmost#{minified}.js", defer)
			script(src="/js/jquery-ui-1.10.3.custom.min.js", defer)
			script(src="/js/jquery.ui.touch-punch.min.js", defer)
			script(src="/js/jquery.tinycarousel.min.js", defer)
			script(src="/js/over-box#{minified}.js", defer)
			script(src="/js/font-change#{minified}.js", defer)
			script(src="/js/jquery.easing.1.3.js", defer)
			script(src="/js/jquery.contentcarousel.js", defer)
			script(src="/js/car.js", defer)
			if !loggedIn
				script(src="/js/signin#{minified}.js", defer)
				
		//- page-specific
		block addonjs
