doctype
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		if (typeof ev !== "undefined")
			meta(name="event_id" content="#{ev._id}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title #{title}
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet" href="/css/all_combined.min.css?v=#{versionHash}")
			link(rel="stylesheet" href="/css/bootstrap-eventmost.css?v=#{versionHash}")
			link(rel="stylesheet" href="/css/crop/jquery.Jcrop.min.css?v=#{versionHash}")

	<!--body(ng-app="eventMost" style="background: url("+ev.backgroundImage.url+") center fixed; background-size: 100%;")-->
	<!--body(ng-app="eventMost" style="background: url("+ev.backgroundImage.url.indexOf('default-background2.png')>=0?'':ev.backgroundImage.url+") center fixed; background-size: 100%;") -->

	- var base = "/event/"+ev._id+"/";
	- var dropboxUrl = "/event/"+ev._id+"/dropbox";

	body(ng-app="eventMost")
		//- main container
		block container
		header
			.container
				.row
					.pull-left.col-md-3.col-xs-3
						a(href="/")
							img.nspacer.logos(src="/images/logo.svg")
				
					if loggedIn == false
						.pull-right.logo-right
								//- Only displayed when users are guests
								button.btn.btn-warning.pb.pull-right(type='button' data-toggle="modal" href="#signModal" )
									b SIGN UP
								button.btn.btn-default.pb.pull-right(type='button' data-toggle="modal" href="#loginModal" style="margin-right:-4px;")
									b LOGIN
								button.btn.btn-primary.pb3.pull-right(type='button' data-toggle="modal" href="#signModal" )
									|  Create <br />Event 
								br
								button.btn.btn-primary.pb2.pull-right(type='button' data-toggle="modal" href="#signModal" )
									i.fa.fa-star.fa-fw
									|  Create Event 
									i.fa.fa-star.fa-fw
					else
						if (typeof hide_bar_right === 'undefined' && hide_bar_right !== true)
							//- Only displayed when user is logged in		
							
							.pull-right.width7(ng-controller="inboxNotifications")
								a.image(href=dropboxUrl)
									img.mail.pull-right.img-mess-smart(src="/images/small-dropbox-icon.svg" alt="" style="width:100%;")
								.font-header-icon.center.drop-icon-text
									| Event <br />dropbox
							.pull-right.width7(ng-controller="inboxNotifications")
								a.image(href="/user/"+user._id)
									img.mail.pull-right.img-mess-smart(src="/images/my-profile-icon.svg" alt="" style="width:100%;")
								.font-header-icon
									| My profile

							
							if eventadmin
								.pull-right.width7
									.inline.nspacer-small.pad-right-five
										if (hideArrow == true)
											.font-x1.center.psev2.prof-wall( style="text-align:left; ")
												.dropdown(style="padding:0;")
													a.link-white(href data-toggle="dropdown" )
														img.pad-left-ten(src="/images/menu-tools2.svg" style="margin-top:-10px; margin-left:-29px; font-size:11px !important; margin-bottom:5px;")
													span(style="padding-top:10px;font-size:12px; color:#542437")
														| Planner
														br
														| Options
													ul.dropdown-menu.mif-dropdown(style=" background-color:#f1f1f2;  margin-top:15px; margin-left:-77px;")
														li 
															a(href=base+"edit") Edit Event
														li
															a(href=base+"admin/panel") Admin Powers/Controls
														//-
															li 
																a(href=base+"admin/logos") Edit Event Appearance
															li 
																a(href=base+"admin/summary") Event Analytics/Ticket Sales
														li.inverted: a(href=base+"admin/feedback")
															i.fa.fa-star.fa-fw
															|  Feedback Profiles 
															i.fa.fa-star.fa-fw
														li.inverted: a(href=base+"admin/sendfeedback")
															i.fa.fa-star.fa-fw
															|  Send Feedback 
															i.fa.fa-star.fa-fw

														li.inverted: a(href=base+"admin/register") Check People In
														li.inverted: a(href=base+"admin/email") Send Mass Private Messages
								
								//-
									.inline.nspacer-small.pad-right-five
										.font-x1.bg-purple.center.psev2.prof-wall
											a.link-white(href= (eventattending == true ? base+"attendee/"+attendee._id : base+"attendees")) My profile <br />
												img(src="/images/menu-profile.svg", alt="", style="")
									//.inline.nspacer-small.pad-right-five
										.font-x1.bg-purple.psev2.prof-wall
											a.link-white(href=base+"registrationpage/n") Registration
												br
												| page
												img.pad-left-ten(src="/images/menu-registration.svg", alt="", style="")
									.inline.nspacer-small
										.font-x1.bg-purple.center.psev2.prof-wall
											a.link-white(href=dropboxUrl) Event dropbox <br />
												img(src="/images/menu-drop.svg", alt="", style="")
							//-
								.pull-right.width7
									a.image(href="/messages")
										img.mail.pull-right.img-mess-smart(src="/images/notes-icon.svg" alt="" style="width:100%;")
										.row-fluid.minus2
											.message-nr
												h20 0
									.font-header-icon2
										| Notes

							.pull-right.width7(ng-controller="inboxNotifications")
								a.image(href="/messages")
									img.mail.pull-right.img-mess-smart(src="/images/message-icon.svg" alt="" style="width:100%;")
									.row-fluid.minus2
										.message-nr
											h20(ng-bind="notifications" ng-init="notifications = #{user.mailboxUnread}")= user.mailboxUnread
								.font-header-icon
									| Inbox
						
							.col-md-6.col-xs-6.pull-left.pad-header-se
								.pull-left.nspacer-small
									a.font-e.link-purple.header-links(href="/") Home
									if !recentEvent
										|  | 
										a.font-e.link-purple.header-links(href="/event/add") Create event
									if user.admin
										|  | 
										a.font-e.link-purple.header-links(href="/admin") Administration
									if recentEvent
										|  | 
										a.font-e.link-purple.header-links(href="/event/"+recentEvent) Return to Event: #{recentEventName}
								.clearfix
								.nspacer.hide-mini
									form(method="GET", accept-charset="utf-8", action="/search/results/")
										input.pull-left.font-s.search-input.pad-left-ten.header-links(type="search", name="q", placeholder="Search for Events or People on EventMost", style="width:75%;", value= typeof search !== "undefined" ? search.query : null)
										input.gonew2.pull-left.header-links(type="submit", value="GO", style="width:10%; height:36px; border-top-right-radius:10px;  border-bottom-right-radius:10px;")
						else
							.col-md-6.col-xs-6.pull-right(ng-controller="TakeoverController" ng-init="inboxUrl = '#{inbox_send_to}'; setCsrf('#{token}');")
								.text-center.nspacer-small(ng-cloak style="height:20px;")
									| {{ progress }}
								.clearfix
								.nspacer.hide-mini
									form
										button.gonew2.pull-right.header-links(ng-click="sendInbox()" style="width:15%;") SEND
										input.pull-right.font-s.search-input.pad-left-ten.header-links(type="email" name="email" ng-model="email" required="required" placeholder="Send This Inbox to an Email Address" style="width:70%;")
		
		if (is_acting_user)
			div(style="width:100%; background: #ACD90C; color: #000;")
				.container
					.nspacer
					.col-sm-8.col-md-8.col-lg-8
						p.lead(style="font-weight: 500; margin-bottom:15px;")!= loggedin_as_user_message
					.col-sm-4.col-md-4.col-lg-4
						a.pull-right.btn.btn-info(href="/auth/login/return")
							i.fa.fa-sign-out.fa-fw
							|  !{loggedin_as_user_return_message}
			.clearfix
		
		.container

			
			include inc/flash
			block content
		block contentemp
			.row

		.container
				footer.col-xs-12.col-md-12.col-sm-12.col-lg-12
					.text-center Copyright © 2013 <b>EventMost</b> | 
						a.link-white(href="/contact") Contact us
						small.pull-right v#{version} - ##{versionHash}
			if !loggedIn
				include modals/signup
			
		//- usually globally persistent
		block js
			//script(src="/js/vendor/jquery.min.js" defer)
			script(src="/js/vendor/all_required.min.js?v=#{versionHash}" defer)

			if !loggedIn
				script(src="/js/signin.js?v=#{versionHash}" defer)
			else
				script(src="/js/socket.io.js" defer)
				script(src="/js/inbox_notifications.js?v=#{versionHash}" defer)
				script(src="/js/diferscript.js?v=#{versionHash}" defer)
				if (typeof hide_bar_right !== 'undefined' && hide_bar_right === true)
					script(src="/js/takeoverProfile.js?v=#{versionHash}" defer)
					
		//- page-specific
		block addonjs
