extends layout

block content
	include inc/sidebar
	#main-content
		form(action="/topic/"+topic._id+"/update", method="POST")
			input(type="hidden", name="_csrf", value=token)
			.search-box
				.search-content
					p
						span.title
							input.rounded-input.left(placeholder="Topic title", name="title", value= topic.name || "Chat", name="topicname", style="width: 500px;")
							input.submit-btn.left(type="submit", value="Update title")
		form(action="/topic/"+topic._id+"/new", method="POST")
			input(type="hidden", name="_csrf", value=token)
			.left(style="width: 100%;")
				input.rounded-input#message(type="text", name="message", value="", placeholder="Enter a message", required="required", style="width: 75%; float: left;")
				input.submit-btn.left#messageSubmit(type="submit", value="Send", style="width: 19%; float: right;")
		br
		br
		for message in messages
			.users-spacer(style="border-top:1px solid #444;margin-top:10px;")
				.avatar.left(style="height: 20px;width:20px;")
					img(src=message.sentBy.avatar, style="width: 20px; height: 20px;")
				.left
					p
						a(href="/user/"+message.sentBy._id)= message.sentBy.getName()
						|  at 
						= message.timeSent.getHours()
						| :
						= message.timeSent.getMinutes()
				.right
					p= message.message
			.clear
	.clear