extends responsive

block content
	if (typeof ev !== "undefined")
		include event/inc/navbar
		+navbar
		.clearfix.hide-all2
		br
	else
		.col-xs-12.hide-all2
			form(method="POST", accept-charset="utf-8")
				input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
				input(type="hidden", name="_csrf", value=token)
				input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
		.clearfix.hide-all2

	.nspacer
	.col-md-2.col-xs-2.col-sm-2.hide-mini3-except-smart
		.pull-right
			img(src= theUser.avatar.length == 0 ? "/images/default_speaker.svg" : theUser.avatar, alt="", class="circularespond img-responsive")
	.col-md-4.col-xs-4.col-sm-4.hide-mini3-except-smart
		.text-right.font-s.nspacer-bigger
			| <b>#{theUser.getName()}</b> 
			if (theUser.position)
				| - #{theUser.position}
			if (theUser.company)
				| , #{theUser.company}
			br
			img(src="/images/message-icon-small.svg", alt="", class="pad-right-ten")
			a(href="mailto:#{theUser.email}", class="link-purple")
				| #{theUser.email}
		.clearfix
	
	if (!theUser._id.equals(user._id))
		.col-md-6.col-xs-6.col-sm-6.lower.hide-mini3-except-smart
			.right.iconsbox.spacerbig
				a(href="/inbox/messages/new?to="+theUser._id, class="link1")
					img(src="/images/send-prv.svg", alt="", class="img-responsive inline pad-right-ten res-butt")
				a(href="/cards/send?to="+theUser._id, class="link1")
					img(src="/images/send-business.svg", alt="", class="img-responsive inline pad-right-ten res-butt")
				a(href="/user/"+theUser._id+"/save", class="link1")
					img(src="/images/save-prof.svg", alt="", class="img-responsive inline pad-right-ten res-butt")
		.col-md-6.col-xs-6.col-sm-6.lower-hide.hide-except-smart
			.right.iconsbox.spacerbig
				a(href="/inbox/messages/new?to="+theUser._id, class="link1")
					img(src="/images/send-prv.svg", alt="", class="img-responsive inline res-butt")
				a(href="/cards/send?to="+theUser._id, class="link1")
					img(src="/images/send-business.svg", alt="", class="img-responsive inline res-butt")
				a(href="/user/"+theUser._id+"/save", class="link1")
					img(src="/images/save-prof.svg", alt="", class="img-responsive inline res-butt")
		.hide-except-smart
			.center
				a(href="/inbox/messages/new?to="+theUser._id, class="link1")
					img(src="/images/send-prv.svg", alt="", class="img-responsive inline res-butt pad-left-five")
				a(href="/cards/send?to="+theUser._id, class="link1")
					img(src="/images/send-business.svg", alt="", class="img-responsive inline res-butt pad-left-five")
				a(href="/user/"+theUser._id+"/save", class="link1")
					img(src="/images/save-prof.svg", alt="", class="img-responsive inline res-butt pad-left-five")
		if (typeof ev !== 'undefined' && typeof eventadmin !== 'undefined')
			//- Make administrator button
			if (eventadmin == true && theAttendee.admin == false && theAttendee.user.isFeedbackProfile == false)
				.clearfix
				br
				.col-md-offset-10.col-xs-offset-10.col-sm-offset-10.col-md-2.col-xs-2.col-sm-2.lower.hide-mini3-except-smart
					.right.iconsbox.spacerbig
						a(href="/event/#{ev._id}/admin/addAdmin/#{theAttendee._id}", class="link1")
							button.btn.btn-primary.font-x(style="width:100%; padding:10px; padding-left:25px; padding-right:35px; margin-right:20px; text-align:center;")
								| Make<br/>Administrator
							.nspacer-small
				.col-md-offset-10.col-xs-offset-10.col-sm-offset-10.col-md-2.col-xs-2.col-sm-2.lower-hide.hide-except-smart
					.right.iconsbox.spacerbig
						a(href="/event/#{ev._id}/admin/addAdmin/#{theAttendee._id}", class="link1")
							button.btn.btn-primary.font-x(style="width:100%; padding:10px; padding-left:25px; padding-right:35px; margin-right:20px; text-align: center;")
								| Make Event<br/>Administrator
							.nspacer-small
				.hide-except-smart
					.center
						a(href="/event/#{ev._id}/admin/addAdmin/#{theAttendee._id}", class="link1")
							button.btn.btn-primary.font-x(style="width:125px; padding:10px; padding-left:25px; padding-right:35px; margin-right:20px;")
								| Make Event<br/>Administrator
							.nspacer-small
			//- feedback profile button
			if (eventadmin == true && theAttendee.user.isFeedbackProfile == true && ev._id.equals(theAttendee.user.feedbackProfileEvent))
				.clearfix
				br
				.col-md-offset-10.col-xs-offset-10.col-sm-offset-10.col-md-2.col-xs-2.col-sm-2.lower.hide-mini3-except-smart
					.right.iconsbox.spacerbig
						a(href="/event/#{ev._id}/admin/feedback/#{theAttendee._id}", class="link1")
							button.btn.btn-primary.font-x(style="width:100%; padding:10px; padding-left:25px; padding-right:35px; margin-right:20px; text-align:center;")
								| Edit feedback<br/>profile
							.nspacer-small
				.col-md-offset-10.col-xs-offset-10.col-sm-offset-10.col-md-2.col-xs-2.col-sm-2.lower-hide.hide-except-smart
					.right.iconsbox.spacerbig
						a(href="/event/#{ev._id}/admin/feedback/#{theAttendee._id}", class="link1")
							button.btn.btn-primary.font-x(style="width:100%; padding:10px; padding-left:25px; padding-right:35px; margin-right:20px; text-align: center;")
								| Edit feedback<br/>profile
							.nspacer-small
				.hide-except-smart
					.center
						a(href="/event/#{ev._id}/admin/feedback/#{theAttendee._id}", class="link1")
							button.btn.btn-primary.font-x(style="width:125px; padding:10px; padding-left:25px; padding-right:35px; margin-right:20px;")
								| Edit feedback<br/>profile
							.nspacer-small
	else
		.col-md-offset-4.col-xs-offset-4.col-sm-offset-4.col-md-2.col-xs-2.col-sm-2.lower.hide-mini3-except-smart
			.right.iconsbox.spacerbig
				a(href="/profile", class="link1")
					img(src="/images/edit-my-prof.svg", alt="", class="img-responsive inline pad-right-ten res-butt")
		.col-md-offset-4.col-xs-offset-4.col-sm-offset-4.col-md-2.col-xs-2.col-sm-2.lower-hide.hide-except-smart
			.right.iconsbox.spacerbig
				a(href="/profile", class="link1")
					img(src="/images/edit-my-prof.svg", alt="", class="img-responsive inline res-butt")
		.hide-except-smart
			.center
				a(href="/profile", class="link1")
					img(src="/images/edit-my-prof.svg", alt="", class="img-responsive inline res-butt pad-left-five")
	
	.nspacer.hide-except-smart
	.col-md-4.col-xs-4.col-sm-4.hide-except-smart
		img(src= theUser.avatar.length == 0 ? "/images/default_speaker.svg" : theUser.avatar, alt="", class="circularespond img-responsive")
	.col-md-8.col-xs-8.col-sm-8.hide-except-smart
		.text-right.font-s.nspacer-bigger
			| <b>#{theUser.getName()}</b> - #{theUser.position}, #{theUser.company}<br />
			img(src="/images/message-icon-small.svg", alt="", class="pad-right-ten")
			a(href="mailto:#{theUser.email}", class="link-purple")
			| #{theUser.email}
		.clearfix

	.clearfix
	.nspacer-big
	.col-md-3.col-xs-3.col-sm-3.font-s.lower
		.pull-left
			.pull-left.text-right
				| Name: <br />
				| Position: <br />
				| Company: <br />
			.pull-right.pad-left-ten
				| <b>#{theUser.getName()}</b> <br />
				| <b>#{theUser.position}</b> <br />
				| <b>#{theUser.company}</b>
	.col-md-4.col-xs-4.col-sm-4.font-s.lower-hide
		.pull-left
			.pull-left.text-right
				| Name: <br />
				| Position: <br />
				| Company: <br />
			.pull-right.pad-left-ten
				| <b>#{theUser.getName()}</b> <br />
				| <b>#{theUser.position}</b> <br />
				| <b>#{theUser.company}</b>
	.col-md-4.col-xs-4.col-sm-4.font-s.hide-mini3-except-smart
		.pull-left
			.pull-left.text-right
				| Website: <br />
				| Location: <br />
				| Interests: <br />
				| Education: 
			.pull-right.pad-left-ten
				| <b><a href="#{theUser.website}" class="link-purple">#{theUser.website}</a></b> <br />
				| <b>#{theUser.location}</b> <br />
				| <b>#{theUser.interests}</b> <br />
				| <b>#{theUser.education}</b> 
	
	.col-md-12.col-xs-12.col-sm-12.font-s.center.hide-except-smart
		.pull-left
			.pull-left.text-right
				| Name: <br />
				| Position: <br />
				| Company: <br />
			.pull-right.pad-left-ten
				| <b>#{theUser.getName()}</b> <br />
				| <b>#{theUser.position}</b> <br />
				| <b>#{theUser.company}</b>
	.clearfix.center.hide-all3
	.nspacer.hide-all3
	.col-md-12.col-xs-12.col-sm-12.font-s.hide-except-smart
		.pull-left
			.pull-left.text-right
				| Website: <br />
				| Location: <br />
				| Interests: <br />
				| Educaction: 
			.pull-right.pad-left-ten
				| <b>#{theUser.website}</b> <br />
				| <b>#{theUser.location}</b> <br />
				| <b>#{theUser.interests}</b> <br />
				| <b>#{theUser.education}</b>
	
	.clearfix
	.nspacer-big
	.col-md-7.col-xs-7.col-sm-7.hide-mini3-except-smart
			.font-e1
				| Description: 
			.font-x 
				!= theUser.desc
	.clearfix
	
	if (theUser.desc > 0)
		.col-md-12.col-xs-12.col-sm-12.hide-except-smart
				.font-e1
					| Description: 
				.font-x 
					!= theUser.desc

	.clearfix