


.nspacer

.row
	.col-md-12.col-lg-12.col-sm-12
		.nspacer-big.font-exception.font18.bold.color-green.center(type='submit', style="")
			| #{ev.name}
		.nspacer-big
		.rel
			.div(style=" max-height:350px; overflow:hidden; text-align: center;")
				img.img-responsive(src=ev.avatar.url style="width:100%;")

		.col-md-3.col-lg-3.col-sm-3
			img.small-event-border(src=ev.avatar.url style="width:auto; max-height:205px;")
		.col-md-9.col-lg-9.col-sm-9

			.nspacer
			.col-md-3.col-lg-3.col-sm-3.font16
				.inline
					img(src="/images/small-clock.svg" alt=""  )
				.font16.inline.color-green.semi-bold
					| WHEN
				.font-s(title= eventStartFormatted style="word-wrap: break-word; word-break: break-word;")
					.semi-bold
						= eventStartFormatted
					.poo(style="font-weight:200;")
					= eventEndFormatted
			.col-md-3.col-lg-3.col-sm-3.font16
				.inline
					img(src="/images/mapster2.svg" alt=""  )
				.font16.inline.color-green.semi-bold
					| WHERE
				.font-s(style="word-break:break-all; ")
					- if (ev.address || ev.venue_name)
						strong.pull-left.break(style="word-wrap:break-word; word-break: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;")
						span(style="word-wrap:break-word; word-break: break-word;")		
							= ev.venue_name
						.pull-left(style="word-wrap:break-word; word-break: break-word;")
							= ev.address
						- if (!ev.address && !ev.venue_name)
							| Event does not have a location
				.nspacer
				#eventMap(style="height:110px; width:180px;")
			.col-md-4.col-lg-4.col-sm-4.font16
				.inline
					img(src="/images/organizer.svg" alt=""  )
				.font16.inline.color-green.semi-bold
					| EVENT ORGANIZER
				.font16.inline(style="word-break:break-all; ")
					for attendee in locals.ev.attendees
						if (attendee.admin && attendee.isAttending)
							a.link-purple.font16(href="/user/"+attendee.user._id)= attendee.user.getName()
							br
			.col-md-2.col-lg-2.col-sm-2.font16
				.inline
					img(src="/images/sponsors-cion.svg" alt=""  )
				.font16.inline.color-green.semi-bold
					| SPONSORS
				.nspacer

				
				if (ev.sponsorLayout.sponsor1)
					if (ev.sponsorLayout.sponsor1)
						img.img-responsive(src=ev.sponsorLayout.sponsor1.url style="width:100%;")
					.nspacer-small
					if (ev.sponsorLayout.sponsor2 && ev.sponsorLayout.layout > 0 && ev.sponsorLayout.layout != 3)
						img.img-responsive(src=ev.sponsorLayout.sponsor2.url style="width:100%;")
					.nspacer-small
					if (ev.sponsorLayout.sponsor3 && ev.sponsorLayout.layout == 2)
						img.img-responsive(src=ev.sponsorLayout.sponsor3.url style="width:100%;")
			.clearfix
			.clearfix
		.clearfix




		.col-md-12.col-lg-12.col-sm-12
			.font16.semi-bold.color-green
				| EVENT DESCRIPTION
			.line-purple
			.description-text-medium.break!= ev.description	

.clearfix
.nspacer