
.row
	.col-md-12.col-lg-12.col-sm-12
		//- 
			.nspacer-big.font-exception.font18.bold.color-green.center(type='submit', style="")
				| #{ev.name}
		
		//-
			<div class="img-none" style="float:left; width:215px; border-right:1px solid #ccc; height: 180px; overflow:hidden">
			 <div class="col-md-3 col-lg-3 col-sm-3 col-md-3-assist" style="margin-top:3%; margin-bottom:2% ; display:table-cell; vertical-align:middle; height:180px; float:none">
			  <img class="small-event-border2" style="max-width:100%;" src="/avatars/54fd8449de001e024bc55642.jpeg">
			 </div>
			</div>

		if (ev.backgroundImage)
			.rel
				.div(style=" max-height:350px; overflow:hidden; text-align: center;")
						img.img-responsive(src=ev.backgroundImage.url style="width:100%;")
			.img-none(style="background: #fff; float:left; margin-top:-120px; overflow: hidden; position:relative; width:200px; margin-left:30px")
				.col-md-3.col-lg-3.col-sm-3.col-md-3-assist(style="border: 2px solid #ccc; display: table-cell; float: none; height: 100%; max-width:100%; padding:2px; margin: -100px 0 0; vertical-align: middle;")
					img(src=ev.avatar.url style="display:block; margin:0px auto; width: 100%")
		else
			.img-none(style=" background: #fff none repeat scroll 0 0; border: 2px solid #ccc; float: left; height: 100%; margin-left: 30px; margin-top: -35px; overflow: hidden; padding: 2px; position: relative; width: 200px;")
				.col-md-3.col-lg-3.col-sm-3(style="bottom: 0; display: table-cell; float: none; height: 160px; margin: -100px 0 0; max-width: 100%; padding: 2px; vertical-align: middle;")
					img(src=ev.avatar.url style="display: block;  margin: 0 auto; width: 100%;")


		.col-md-9.col-lg-9.col-sm-9(style= ev.backgroundImage ? 'margin-top:0%' : 'margin-top:-5%')
			.nspacer
			.col-md-3.col-lg-3.col-sm-3.font16(style="padding: 10 0 0 10")
				.inline
					img(src="/images/small-clock.svg" alt=""  )
				.font16.inline.color-green.semi-bold
					| WHEN
				.font-s(title= eventStartFormatted style="word-wrap: break-word; word-break: break-word;")
					.semi-bold
						= eventStartFormatted[1]
					if(eventEndFormatted[1])
						.center.color-green
							| - to -
						.poo(style="font-weight:200;")
						= eventEndFormatted[1]
			.col-md-3.col-lg-3.col-sm-3.font16
				div(style="float:left")
					.inline
						img(src="/images/mapster2.svg" alt=""  )
					.font16.inline.color-green.semi-bold
						| WHERE
					.font-s(style="word-break:break-all; ")
						- if (ev.address || ev.venue_name)
							strong.pull-left.break(style="word-wrap:break-word; word-break: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;")
							span(style="word-wrap:break-word; word-break: break-word;font-weight:bold;")
								= ev.venue_name
							.pull-left(style="word-wrap:break-word; word-break: break-word;font-weight:bold;")
								= ev.address
							- if (!ev.address && !ev.venue_name)
								| Event does not have a location
			.col-md-3.col-lg-3.col-sm-3.font16				
				div
					a(data-toggle="tooltip",title="Click to view on maps.google.com")
						.map-area(id="eventMap", style="height:130px; width:90%;")
			.col-md-3.col-lg-3.col-sm-3.font16
				.inline
					img(src="/images/organizer.svg" alt=""  )
				.font16.inline.color-green.semi-bold
					| ORGANIZER
				.clearfix
				.font16.inline(style="word-break:break-all; ")
					for attendee in locals.ev.attendees
						if (attendee.admin && attendee.isAttending)
							a.link-purple.font16(href="/user/"+attendee.user._id)= attendee.user.getName()
							br
			.col-md-2.col-lg-2.col-sm-2.font16(style="padding: 0 0 0 0")
				
				
			- if (title == 'Add Logos'){
				.inline
					img(src="/images/sponsors-cion.svg" alt=""  )
				.font16.inline.color-green.semi-bold
					| SPONSORS
				.nspacer
						#sponsor1panel
							.form-group.row
								.col-sm-9.col-md-9.col-xs-9.col-lg-9
									img#sponsor1Avatar.img-responsive(src= ev.sponsorLayout.sponsor1 ? ev.sponsorLayout.sponsor1.url : "")
								.col-sm-3.col-md-3.col-xs-3.col-lg-3
								if(ev.sponsorLayout.sponsor1)
										a#sponsor1AvatarDelete.glyphicon.glyphicon-trash(style="cursor:pointer;" name="1" rel="tooltip" title="Delete Sponsor1 Image")
							.nspacer
							.form-group.row
								.col-sm-6.col-md-6.col-xs-6.col-lg-6
									.progress.hide
										.progress-bar(aria-valuenow="", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
									//input.search-input.sponsor-browse(type="text" id="fileName" readonly="readonly" style="width:65%; padding-left:10px; padding-right:10px;")
									#sp1(style="display: inline; cursor:pointer;" rel="tooltip" title="Upload Sponsor1 Image")
										a.glyphicon.glyphicon-cloud-upload(id="buttonbrowse2" style="cursor:pointer;")
										input#sponsor1(type="file", name="sponsor1", placeholder="Avatar File", for="sponsor1Avatar"  style="cursor:poiner; width:100%; opacity:0; position:relative; left:0px; top:-30px;" )
						#sponsor2panel
							.form-group.row
								.col-sm-9.col-md-9.col-xs-9.col-lg-9
									img#sponsor2Avatar.img-responsive(src= ev.sponsorLayout.sponsor2 ? ev.sponsorLayout.sponsor2.url : "")
								.col-sm-3.col-md-3.col-xs-3.col-lg-3
								if(ev.sponsorLayout.sponsor2)
									a#sponsor2AvatarDelete.glyphicon.glyphicon-trash(style="cursor:pointer;" name="2" rel="tooltip" title="Delete Sponsor2 Image")
							.nspacer
							.form-group.row
								.col-sm-6.col-md-6.col-xs-6.col-lg-6
									.progress.hide
										.progress-bar(aria-valuenow="", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
									//input.search-input.sponsor-browse(type="text" id="fileName" readonly="readonly" style="width:65%; padding-left:10px; padding-right:10px;")
									#sp2(style="display: inline; cursor:pointer;" rel="tooltip" title="Upload Sponsor2 Image")
										a.glyphicon.glyphicon-cloud-upload(id="buttonbrowse2" style="cursor:pointer;")
										input#sponsor2(type="file", name="sponsor2", placeholder="Avatar File", for="sponsor2Avatar"  style="cursor:poiner; width:100%; opacity:0; position:relative; left:0px; top:-30px;")
						#sponsor3panel
							.form-group.row
								.col-sm-9.col-md-9.col-xs-9.col-lg-9
									img#sponsor3Avatar.img-responsive(src= ev.sponsorLayout.sponsor3 ? ev.sponsorLayout.sponsor3.url : "")
								.col-sm-3.col-md-3.col-xs-3.col-lg-3
								if(ev.sponsorLayout.sponsor3)
									a#sponsor3AvatarDelete.glyphicon.glyphicon-trash(style="cursor:pointer;" name="3" rel="tooltip" title="Delete Sponsor3 Image")
							.nspacer
							.form-group.row
								.col-sm-6.col-md-6.col-xs-6.col-lg-6
									.progress.hide
										.progress-bar(aria-valuenow="", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
									//input.search-input.sponsor-browse(type="text" id="fileName" readonly="readonly" style="width:65%; padding-left:10px; padding-right:10px;")
									#sp3(style="display: inline; cursor:pointer;" rel="tooltip" title="Upload Sponsor3 Image")
										a.glyphicon.glyphicon-cloud-upload(id="buttonbrowse2" style="cursor:pointer;")
										input#sponsor3(type="file", name="sponsor3", placeholder="Avatar File", for="sponsor3Avatar"  style="cursor:poiner; width:100%; opacity:0; position:relative; left:0px; top:-30px;")							
				- }			
				
				//if (ev.sponsorLayout.sponsor1)
					//if (ev.sponsorLayout.sponsor1)
						//img.img-responsive(src=ev.sponsorLayout.sponsor1.url style="width:100%;")
					//.nspacer-small
					//if (ev.sponsorLayout.sponsor2 && ev.sponsorLayout.layout > 0 && ev.sponsorLayout.layout != 3)
						//img.img-responsive(src=ev.sponsorLayout.sponsor2.url style="width:100%;")
					//.nspacer-small
					//if (ev.sponsorLayout.sponsor3 && ev.sponsorLayout.layout == 2)
						//img.img-responsive(src=ev.sponsorLayout.sponsor3.url style="width:100%;")
			.clearfix
			.clearfix
		.clearfix

		.col-md-12.col-lg-12.col-sm-12
			.font16.semi-bold.color-green
				| EVENT DESCRIPTION
			.line-purple
			.description-text-medium.break!= ev.description	

.clearfix
.nspacer