extends ../responsive

block content
	include navbar
	
	.nspacer
	//- saved
	for profile in user.savedProfiles
		-var i = 0;
		.col-md-12.col-xs-12.col-sm-12
			.center
				.inline
					.div
						img(src=profile.avatar alt="", class="circularespond",)
					.font-s
						| <b>#{profile}</b><br />
						| #{profile}
				.inline.big-pad-right.big-pad-left.pad-smart
					.div
						img(src=profile.avatar, alt="", class="circularespond",)
					.font-s
						| <b>#{profile}</b><br />
						| #{profile}
				.inline
					.div
						img(src=profile.avatar, alt="", class="circularespond",)
					.font-s
						| <b>#{profile}</b><br />
						| #{profile}
	if (user.savedProfiles.length == 0)
		| No one has saved your profile yet.
		.clearfix
		.nspacer
	.clearfix
