extends ../responsive

include inc/navbar

block content
	+navbar
	
	br
	form.pull-right#uploadForm(action="/event/"+ev._id+"/dropbox/upload", method="POST", enctype="multipart/form-data")
		input(type="hidden", name="_csrf", value=token)
		.pull-left
			input(name="upload", type="file")
		.pull-left
			button.btn.btn-success#file_upload_wrapper(onclick="$('#uploadForm').submit()")
				span.glyphicon.glyphicon-cloud-upload
				|  Upload
		.clearfix
	.clearfix
	hr
	for file in ev.files
		.row
			.col-sm-4.col-lg-4.col-md-4.col-xs-4
				img.img-responsive(src=file.file)
			.col-sm-8.col-lg-8.col-md-8.col-xs-8
				.pull-left
					h5= file.name
					h5 Size: #{file.size}
					h5 Created: #{file.created.toString()}
				form.pull-right#deleteForm(method="POST", action="/event/"+ev._id+"/dropbox/remove")
					input(type="hidden", name="_csrf", value=token)
					input(type="hidden", name="file", value=file.file)
					
					a.btn-sm.btn.btn-success(href=file.file)
						span.glyphicon.glyphicon-cloud-download
						|  Download
					if eventadmin
						| &nbsp;
						a.btn-sm.btn.btn-danger(href="#", onclick="$('#deleteForm').submit()")
							span.glyphicon.glyphicon-remove
							|  Remove
		br