extends ../responsive

//- include inc/navbar

append addonjs
	script(src="/js/fileUpload.js?v=#{versionHash}", defer)
	script(src="/js/dropbox.js?v=#{versionHash}", defer)

block content
	//- +navbar
	
	.clearfix
	
	//- header of the content
	
	.nspacer
	.row
		.col-lg-2.col-md-2.col-xs-2
			img.img-responsive(src="/images/dropbox-icon.svg")
		.col-lg-5.col-md-5.col-xs-5.font-lebig.pad-left-zero.nspacer-big.fontish.back-spacer
			| Event Dropbox
		.col-lg-4.col-md-4.col-xs-4.pull-right
			.width48.pull-right
				if (eventadmin || ev.allowDropboxUpload)
					a.pad-left-five.pull-right(href="#" upload-file progress="#fileProgress" file="#file" csrf=token url="/event/"+ev._id+"/dropbox/upload")
						img(src="/images/upload-button.svg", style="width:100%;")
			.width48.pull-right
				if (eventadmin)
					a.pad-left-five.pull-right(href="#", data-toggle="modal", data-target="#dropboxSettings")
						img(src="/images/settings-button.svg", style="width:100%;")
				input#file.hide(type="file")
	
		.clearfix
	.clearfix
	
	.nspacer
	.progress#fileProgress(ng-show="progress > 0" ng-cloak)
		.progress-bar(ng-class="{ 'progress-bar-success': progress >= 100 }" aria-valuenow="{{progress}}" aria-valuemax="100" aria-valuemin="0" ng-style="{ width: progress+'%' }")
	
	//- content
	div(ng-controller="dropboxSharingController")
		for file in ev.files
			if (!eventadmin && file.permissions.all == false)
				- var isInCategory = false;
				for category in file.permissions.categories
					if (category == attendee.category)
						- isInCategory = true;
						- break;
				if (file.user._id.equals(locals.user._id))
					- isInCategory = true;
				if (!isInCategory)
					- continue;
			
			//- slide
			.nspacer-big
			.row
				.col-lg-12.col-md-12.col-xs-12
					.width18.pad-right-zero.pull-left(style="max-height:100px; overflow:hidden;")
						if (file.extension=="png" || file.extension=="svg" || file.extension=="gif" || file.extension=="jpg" || file.extension=="jpeg" || file.extension=="pdf")
							img.img-responsive(src=file.fileThumb)
						else
							img.img-responsive(src="/images/dropbox/"+file.extension+".svg" )
			
					- var width = 67; // 1btn
					if (eventadmin || file.user._id.equals(locals.user._id))
						- width = 39; // 3 buttons
					.width53.pull-left.pad-left-five(style="width: "+width+"%;")
						.bg-ashen.font-evente.filename.font-change2.break
							.bold
								if (file.name.length > 40)
									abbr(title=file.name)= file.name.substring(0, 40)
										| &hellip;
								else
									= file.name
								.pull-right
									= file.size
							.nspacer
							| Uploaded on 
							= moment(file.created).format('dddd, Do, MMMM YYYY [at] h:mm:ss a')
			
					.width14.pull-right.pad-left-five
						a(href=file.file target="_blank")
							img(src="/images/download-button.svg" style="width:100%;")
			
					if (eventadmin || file.user._id.equals(locals.user._id))
						.width14.pull-right.pad-left-five
							a(href="/event/"+ev._id+"/dropbox/"+file._id+"/remove")
								img(src="/images/delete-button.svg" style="width:100%;")
						.width14.pull-right.pad-left-five
							a(href="#" data-toggle="modal" data-target="#filesharingModal" ng-click="setFile(#{JSON.stringify(file)}); setCategories(#{JSON.stringify(ev.categories)});")
								img(src="/images/edit-sharing-button.svg" style="width:100%")

				.clearfix
				
			.clearfix

		.clearfix
	
		if (ev.files.length == 0)
			h3.text-center No Files have been uploaded yet
			if (eventadmin || ev.allowDropboxUpload)
				p.text-center.lead Use the Upload Button Above
	
		include ../modals/dropboxPermissions

		.clearfix
