extends ../layout

block content
	include ../inc/sidebar
	#main-content
		.search-box
			.search-content
				p
					span.title.left Dropbox
					span.right.file-upload
						form(action="/event/"+event._id+"/dropbox/upload", method="POST",  enctype="multipart/form-data")
							input(type="hidden", name="_csrf", value=token)
							input.right.submit-btn(type="submit", value="Upload file")
							input.right(type="file", name="upload")
				.clear
				p
					include ../inc/flash
		for file in event.files
			.users-spacer.single-item
				.file-short-info
					.file-img.left
					.left
						.name= file.name
						.role= file.size
							span.file-uploaded= file.created.toString()
						.options-btn-box
							form(method="POST", action="/event/"+event._id+"/dropbox/remove")
								input(type="hidden", name="_csrf", value=token)
								input(type="hidden", name="file", value=file.file)
								if event.user._id.equals(user._id)
									a.file-btn.round-button(href="#", onclick="if(confirm('Are you sure you want to delete this file?')){$(this).parent().submit()} event.returnValue = false; return false;") Delete
								a.file-btn.round-button(href=file.file) Download
	.clear