extends ../responsive

include inc/navbar

append addonjs
	script(src="/js/fileUpload#{minified}.js", defer)
	script(src="/js/dropbox#{minified}.js", defer)

block content
	+navbar
	
	.clearfix
	
	//- header of the content
	
	.nspacer
	
	.col-lg-12.col-md-12.col-xs-12
		.col-lg-2.col-md-2.col-xs-2.pad-right-zero
			img.img-responsive(src="/images/dropbox-icon.svg")
		.col-lg-5.col-md-5.col-xs-5.font-lebig.pad-left-zero.nspacer-big.fontish.back-spacer
			| Event Dropbox
		.col-lg-5.col-md-5.col-xs-5.pad-right-zero
			if (eventadmin || ev.allowDropboxUpload)
				a.pad-left-five.pull-right(href="#" upload-file progress="#fileProgress" file="#file" csrf=token url="/event/"+ev._id+"/dropbox/upload")
					img(src="/images/upload-button.svg", style="width:100%;")
			if (eventadmin)
				a.pull-right(href="#", data-toggle="modal", data-target="#dropboxSettings")
					img(src="/images/settings-button.svg", style="width:100%;")
			input#file.hide(type="file")
	
	.clearfix
	.progress#fileProgress(ng-show="progress > 0")
		.progress-bar(ng-class="{ 'progress-bar-success': progress >= 100 }" aria-valuenow="{{progress}}" aria-valuemax="100" aria-valuemin="0" ng-style="{ width: progress+'%' }")
	
	//- content
	div(ng-controller="dropboxSharingController" ng-init="setCategories(#{JSON.stringify(ev.categories)});")
		for file in ev.files
			//- slide
			.nspacer-big
			.col-lg-12.col-md-12.col-xs-12
				.width18.pad-right-zero.pull-left
					if (file.extension=="png" || file.extension=="svg" || file.extension=="gif" || file.extension=="jpg" || file.extension=="jpeg")
						img.img-responsive(src=file.file)
					else
						img.img-responsive(src="/images/dropbox/"+file.extension+".svg")
			
				- var width = 67; // 1btn
				if (eventadmin || file.user._id.equals(locals.user._id))
					- width = 39; // 3 buttons
				.width53.pull-left.pad-left-five(style="width: "+width+"%;")
					.bg-ashen.font-evente.filename
						= file.name
						br
						= file.size
						| , uploaded 
						= file.created.getDate()
						| /
						= file.created.getMonth()+1
						| /
						= file.created.getFullYear()
			
				.width14.pull-right.pad-left-five
					a(href=file.file target="_blank")
						img(src="/images/download-button.svg" style="width:100%;")
			
				if (eventadmin || file.user._id.equals(locals.user._id))
					.width14.pull-right.pad-left-five
						a(href="/event/"+ev._id+"/dropbox/"+file._id+"/remove")
							img(src="/images/delete-button.svg" style="width:100%;")
					.width14.pull-right.pad-left-five
						a(href="#" data-toggle="modal" data-target="#filesharingModal" ng-click="setFile(#{JSON.stringify(file)})")
							img(src="/images/edit-sharing-button.svg" style="width:100%")
				
			.clearfix
	
		if (ev.files.length == 0)
			h3.text-center No Files have been uploaded yet
			p.text-center.lead Use form above to add some
	
		include ../modals/dropboxPermissions