extends ../responsive

include inc/navbar

append addonjs
	script(src="/js/eventLandingPage#{minified}.js", defer)
	script(src="/js/drops#{minified}.js", defer)
	include inc/mapjs

block content
	if (eventattending)
		mixin navbar(4)
	
	.col-xs-12.hide-all2
		form(method="POST", accept-charset="utf-8")
			input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
			input(type="hidden", name="_csrf", value=token)
			input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
	.clearfix.hide-all2

	.nspacer
	.col-md-4.col-lg-4.col-sm-4
		.center
			img.img-responsive(src=ev.avatar.url)
	.col-md-8.col-lg-8.col-sm-8
		h3= ev.name
		.nspacer
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| When
			.line-purple
			.font-s.inline.semi-bold
				= ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][ev.start.getMonth()]
				|  
				- var day = ev.start.getDate()
				= day
				- if(day == 1 || day == 21 || day == 31)
					| st
				- else if (day == 2 || day == 22)
					| nd
				- else if (day == 3 || day == 23)
					| rd
				- else
					| th
				|  #{ev.start.getFullYear()}
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| Where
			.line-purple
			.font-s.inline.semi-bold
				- if (ev.address || ev.venue_name)
					img.inline.pad-right-five(src="/images/mapster.svg", alt="")
				.inline
					= ev.address
				.inline
					= ev.venue_name
				- if (!ev.address && !ev.venue_name)
					| Event does not have a location
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| Event Organizer
			.line-purple
			.font-s.inline.semi-bold
			// event organiser name here?
		.clearfix
		.nspacer
		// google map here
		#eventMap(style="height:197px;")
	.clearfix


	.col-md-12.col-lg-12.col-sm-12
		.font.semi-bold
			| Event description
		.line-purple
		.description-text-medium.break!= ev.description	

	.col-md-12.col-lg-12.col-sm-12
		// tickets required
		if ev.pricedTickets
			include inc/payment

	.col-md-12.col-lg-12.col-sm-12
		.nspacer.center
			if loggedIn
				if ev.categories.length > 0 || ev.allowAttendeesToCreateCategories
					button.btn.btn-primary.hide-prof-butt(type='button', data-toggle="modal", href="#attendModal", style="border-radius: 10px; padding:10px; padding-right:25px; padding-left:25px;")
						| Attend event
				else
					p.accessEventWarningMessage.hide(style="font-size: 16px;")
					a.btn.btn-primary.hide-prof-butt#accessEventDirect(href="#")
						| Attend event
			else
				button.btn.btn-primary.hide-prof-butt(style="font-size: 16px;", data-toggle="modal", href="#loginModal")
					| Attend event
	
	include ../modals/registration