extends ../responsive

include inc/navbar

append addonjs
	script(src="/js/eventLandingPage.js?v=#{versionHash}" defer)
	script(src="/js/drops.js?v=#{versionHash}" defer)
	include inc/mapjs
	script(src="/js/vendor/moment.min.js" defer)
	script(src="/js/event_landingpage.js?v=#{versionHash}" defer)
	script(src="https://js.stripe.com/v2/" async)

block content
	if (eventattending)
		+navbar
	
	.nspacer
	.col-md-3.col-lg-3.col-sm-3
		.center
			img.img-responsive(src=ev.avatar.url)
	.col-md-9.col-lg-9.col-sm-9
		.nspacer
		.col-md-3.col-lg-3.col-sm-3.font-e.semi-bold
			| When
			.line-purple
			.font-s.inline.semi-bold(title= eventStartFormatted style="word-wrap: break-word; word-break: break-word;")
				= eventStartFormatted
				= eventEndFormatted
		.col-md-3.col-lg-3.col-sm-3.font-e.semi-bold
			| Where
			.line-purple
			.font-s.inline.semi-bold(style="word-break:break-all; ")
				- if (ev.address || ev.venue_name)
					strong.pull-left.break(style="word-wrap:break-word; word-break: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;")
					span(style="word-wrap:break-word; word-break: break-word;")
						img.pull-left.pad-right-five(src="/images/mapster.svg" alt="")
						= ev.venue_name
					.pull-left(style="word-wrap:break-word; word-break: break-word;")
						= ev.address
					- if (!ev.address && !ev.venue_name)
						| Event does not have a location
		.col-md-3.col-lg-3.col-sm-3.font-e.semi-bold
			| Event Organizers
			.line-purple
			.font-s.inline.semi-bold(style="word-wrap:break-word; word-break: break-word;")
				for attendee in locals.ev.attendees
					if (attendee.admin && attendee.isAttending)
						a(href="/user/"+attendee.user._id)= attendee.user.getName()
						br
		.nspacer
		.col-md-9.col-lg-9.col-sm-9.pad-right-zero
			// google map here
			#eventMap(style="height:197px;")
		.col-md-3.col-lg-3.col-sm-3.font-e.semi-bold(style="margin-top:-127px;")
			if (ev.sponsorLayout.sponsor1)
				.center
					| Sponsors
				.line-purple
				if (ev.sponsorLayout.sponsor1)
					img.img-responsive(src=ev.sponsorLayout.sponsor1.url)
				.nspacer-small
				if (ev.sponsorLayout.sponsor2 && ev.sponsorLayout.layout > 0 && ev.sponsorLayout.layout != 3)
					img.img-responsive(src=ev.sponsorLayout.sponsor2.url)
				.nspacer-small
				if (ev.sponsorLayout.sponsor3 && ev.sponsorLayout.layout == 2)
					img.img-responsive(src=ev.sponsorLayout.sponsor3.url)
		.clearfix
	.clearfix


	.col-md-12.col-lg-12.col-sm-12
		.font.semi-bold
			| Event description
		.line-purple
		.description-text-medium.break!= ev.description	

	if (!eventattending)
		if (ev.pricedTickets && !(attendee && attendee.hasPaid == true))
			script.
				window.location.hash = "";
			.col-md-12.col-lg-12.col-sm-12
				// tickets required
				include inc/payment
		else
			.col-md-12.col-lg-12.col-sm-12
				.nspacer.center
					if (loggedIn)
						if (ev.categories.length > 0 || ev.allowAttendeesToCreateCategories)
							button.btn.btn-primary.hide-prof-butt(type='button' data-toggle="modal" href="#attendModal" style="border-radius: 10px; padding:10px; padding-right:25px; padding-left:25px;")
								| Attend event
						else
							p.accessEventWarningMessage.hide(style="font-size: 16px;")
							button.btn.btn-primary.hide-prof-butt#accessEventDirect(href="#")
								| Attend event
					else
						button.btn.btn-primary.hide-prof-butt(data-toggle="modal" href="#signModal" style="border-radius: 10px; padding:10px; padding-right:25px; padding-left:25px;")
							| Attend event
	
	if (!eventattending && loggedIn)
		include ../modals/registration