extends ../responsive

include inc/navbar

append addonjs
	script(src="/js/eventLandingPage#{minified}.js" defer)
	script(src="/js/drops#{minified}.js" defer)
	include inc/mapjs
	script(src="/js/moment.min.js" defer)
	script(src="/js/event_landingpage#{minified}.js" defer)
	script(src="https://js.stripe.com/v2/" async)

block content
	if (eventattending)
		mixin navbar(4)
	
	.col-xs-12.hide-all2
		form(method="POST", accept-charset="utf-8")
			input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
			input(type="hidden", name="_csrf", value=token)
			input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
	.clearfix.hide-all2

	.nspacer
	.col-md-4.col-lg-4.col-sm-4
		.center
			img.img-responsive(src=ev.avatar.url)
	.col-md-8.col-lg-8.col-sm-8
		h3= ev.name
		.nspacer
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| When
			.line-purple
			.font-s.inline.semi-bold(title= locals.moment(ev.start).fromNow())
				= moment(ev.start).format('dddd Do MMMM YYYY [at] h:mm:ss a')
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| Where
			.line-purple
			.font-s.inline.semi-bold
				- if (ev.address || ev.venue_name)
					img.inline.pad-right-five(src="/images/mapster.svg" alt="")
				.inline
					= ev.address
				.inline
					= ev.venue_name
				- if (!ev.address && !ev.venue_name)
					| Event does not have a location
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| Event Organizers
			.line-purple
			.font-s.inline.semi-bold
				for attendee in locals.ev.attendees
					if (attendee.admin && attendee.isAttending)
						a(href="/user/"+attendee.user._id)= attendee.user.getName()
						br
			// event organiser name here?
		.clearfix
		.nspacer
		// google map here
		#eventMap(style="height:197px;")
	.clearfix


	.col-md-12.col-lg-12.col-sm-12
		.font.semi-bold
			| Event description
		.line-purple
		.description-text-medium.break!= ev.description	

	if (!eventattending)
		if (ev.pricedTickets && loggedIn && !(attendee && attendee.hasPaid == true))
			.col-md-12.col-lg-12.col-sm-12
				// tickets required
				include inc/payment
		else
			.col-md-12.col-lg-12.col-sm-12
				.nspacer.center
					if (loggedIn)
						if (ev.categories.length > 0 || ev.allowAttendeesToCreateCategories)
							button.btn.btn-primary.hide-prof-butt(type='button' data-toggle="modal" href="#attendModal" style="border-radius: 10px; padding:10px; padding-right:25px; padding-left:25px;")
								| Attend event
						else
							p.accessEventWarningMessage.hide(style="font-size: 16px;")
							a.btn.btn-primary.hide-prof-butt#accessEventDirect(href="#")
								| Attend event
					else
						button.btn.btn-primary.hide-prof-butt(style="font-size: 16px;" data-toggle="modal" href="#signModal")
							| Attend event
	
	if (!eventattending && loggedIn)
		include ../modals/registration