extends ../responsive


append content
	include inc/navbar
	include ../modals/registration

append meta
	meta(name="event_id", content="#{ev._id}")

append addonjs
	script(src="/js/eventLandingPage.js", defer="true")
	script(src="/js/drops.js", defer="true")
	include inc/mapjs

block content
	mixin navbar(4)
	
	.col-xs-12.hide-all2
		form(method="POST", accept-charset="utf-8")
			input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
			input(type="hidden", name="_csrf", value=token)
			input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
	.clearfix.hide-all2

	.nspacer
	.col-md-4.col-lg-4.col-sm-4
		.center
			img.img-responsive(src=ev.avatar.url)
	.col-md-8.col-lg-8.col-sm-8
		h3= ev.name
		.nspacer
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| When
			.line-purple
			.font-s.inline.semi-bold
				| At #{ev.start.getHours()}:#{ev.start.getMinutes()}
			.font-s.inline.semi-bold
				| On 
				= ev.start.getDate()
				| .
				= ev.start.getMonth()+1
			.font-s.inline.semi-bold
				= ev.start.getFullYear()
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| Where
			.line-purple
			.font-s.inline.semi-bold
				img.inline.pad-right-five(src="/images/mapster.svg", alt="")
				.inline
					= ev.address
				.inline
					= ev.venue_name
		.col-md-4.col-lg-4.col-sm-4.pad-left-zero.font-e.semi-bold
			| Event Organizer
			.line-purple
			.font-s.inline.semi-bold
			// event organiser name here?
		.clearfix
		.nspacer
		// google map here
		#eventMap(style="height:197px;")
			| Event does not have a location
	.clearfix


	.col-md-12.col-lg-12.col-sm-12
		.font.semi-bold
			| Event description
		.line-purple
		.description-text-medium.break!= ev.description	

	.col-md-12.col-lg-12.col-sm-12
		// tickets required
		if ev.pricedTickets
			include inc/payment

	.col-md-12.col-lg-12.col-sm-12
		.nspacer.center
			button.btn.btn-primary.hide-prof-butt(type='button', data-toggle="modal", href="#attendModal", style="border-radius: 10px; padding:10px; padding-right:25px; padding-left:25px;")
				| Attend this event as...
	
	.row
		.col-sm-12.col-lg-12.col-md-12
			//- bottom buttons access & home page
			unless eventattending
				.text-center
					p#accessEventWarningMessage.hide(style="font-size: 16px;") Please select a category, otherwise 
						code click "Access Event" once more
						|  if you don't like it when computers make you do things :)
					input#accessEvent.btn.btn-success(type="submit", value="Access event")
					input.btn.btn-info(type="button", onclick="window.location='/';return false;", value="Go back to homepage")

