extends ../responsive

block content
	.row
		.col-md-12.col-sm-12.col-lg-12
			ul.nav.nav-tabs
				li
					a(href="/events")
						h8 All Events
				li
					a(href="/events/my")
						h8 Created Events
				li
					a(href="/events/near")
						h8 Events Nearby
				li.pull-right
					a(href="/event/add")
						h8 Create Event
	
	
	h2.text-center= pagename
	if events.length == 0
		.row
			.col-md-12.col-sm-12.col-lg-12
				h4.text-center There are no events :(
	else
		hr
	for event in events
		.row
			.events
				.col-sm-2.col-md-2.col-lg-2
					if event.avatar && event.avatar.url
						img(src=event.avatar.url, alt="", style="max-height: 100px; max-width: 150px;")
					else
						img(src="/img/default-logo.svg", style="max-height: 100px; max-width: 150px;")
				.col-sm-5.col-md-5.col-lg-5
					a(href="/event/"+event._id)
						h8= event.name
					p.eventtext!= event.description
				.col-md-3.col-sm-3.col-lg-3
					.location
						if event.address && event.address.length > 0
							h5= event.address
						else
							h5 Location unavailable
				.col-md-1.col-sm-1.col-lg-1
					.date #{event.start.getHours()}:#{event.start.getMinutes()}
				.col-md-1.col-sm-1.col-lg-1
					.image2
						h16= event.start.getDate()
							| .
							= event.start.getMonth()+1
							br
							= event.start.getFullYear()
		br