mixin attendee(attendee, feedbackEditLink)
	if (typeof feedbackEditLink === 'undefind')
		- feedbackEditLink = false;
	
	.col-sm-4.col-xs-4.col-md-4.nspacer
		div(class= attendee.admin ? "grey-rounded-box" : null)
			.pull-left.circle-avatar-new
				img.image-circle-avatar-new(src= attendee.user.avatar.length == 0 ? "/images/default_speaker-purple.svg" : attendee.user.avatar)
			.pull-left.center.font-exception-thin.width-attendees.pad-left-ten
				.font20a.nspacer.font-exception
					| #{ attendee.category }
				//- font-change script added when to long name font size changes like in example
				a.bold.break.color-green.font-change.font-attendee.font-exception(href="/event/"+ev._id+"/attendee/"+attendee._id)
					| #{ attendee.user.getName() }
				.bold.break.font-change.font-attendee.font-exception
					if(attendee.user.position.length > 0 && attendee.user.company.length > 0)
						| - #{attendee.user.position}, #{attendee.user.company}
					else if(attendee.user.position.length > 0)
						| - #{attendee.user.position}
					else if(attendee.user.company.length > 0)
						| - #{attendee.user.company}