mixin attendee(attendee, feedbackProfile)
	if (typeof feedbackProfile === 'undefind')
		- feedbackProfile = false;
	
	.col-sm-4.col-xs-4.col-md-4.nspacer.attendee-hover
		div(class= attendee.admin ? "grey-rounded-box" : null data-toggle= feedbackProfile ? "tooltip" : null data-placement="top" title= feedbackProfile ? "This is a Feedback Profile: All comments, questions, and contact info is collected in this profile and automatically forwarded on to this person or group." : null)
			.pull-left.circle-avatar-new(style= feedbackProfile == false ? null : "border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;")
				img(class="image-circle-avatar-new", src= attendee.user.avatar.length == 0 ? "/images/default_speaker-purple.svg" : attendee.user.avatar+"-116x116.png")
			.pull-left.center.font-exception-thin.width-attendees.pad-left-ten
				.font20a.nspacer.font-exception
					| #{ attendee.category }
				//- font-change script added when to long name font size changes like in example
				a.bold.break.color-green.font-change.font-attendee.font-exception(href="/event/"+ev._id+"/attendee/"+attendee._id)
					| #{ attendee.user.getName() }
				if (eventadmin && attendee.admin == false)
					a.pull-right.bold.break.color-green.font-change.font-attendee.font-exception(href="/event/"+ev._id+"/attendee/"+attendee._id+"/remove" style="color:#000;" title="Remove Attendee from Event"): span.glyphicon.glyphicon-trash
				.bold.break.font-change.font-attendee.font-exception
					if(attendee.user.position.length > 0 && attendee.user.company.length > 0)
						| - #{attendee.user.position}, #{attendee.user.company}
					else if(attendee.user.position.length > 0)
						| - #{attendee.user.position}
					else if(attendee.user.company.length > 0)
						| - #{attendee.user.company}

mixin attendeeTemplate()
	.attendee-hover
		div(ng-class="{ 'grey-rounded-box': attendee.admin }")
			.pull-left.circle-avatar-new
				img.image-circle-avatar-new(ng-src="{{attendee.user.avatar}}")
			.pull-left.center.font-exception-thin.pad-left-ten
				.font20a.nspacer.font-exception
					| {{ attendee.category }}
				//- font-change script added when to long name font size changes like in example
				a.bold.break.color-green.font-change.font-attendee.font-exception(href="{{url}}/attendee/{{attendee._id}}")
					| {{ attendee.user.name }}
				//-if (eventadmin && attendee.admin == false)
				//-	a.pull-right.bold.break.color-green.font-change.font-attendee.font-exception(href="/event/"+ev._id+"/attendee/"+attendee._id+"/remove" style="color:#000;" title="Remove Attendee from Event"): i.fa.fa-fw.fa-trash-o
				.bold.break.font-change.font-attendee.font-exception
					span(ng-show="attendee.user.position || attendee.user.company") - 
					| {{ attendee.user.position }}
					span(ng-show="attendee.user.position && attendee.user.company") , 
					| {{ attendee.user.company }}
				if (block)
					block