if ev.address != null || ev.geo != null
	script(defer="true").
		var map;
		var mapId;
		function load () {
			mapId = document.getElementById('eventMap');
			if (mapId) {
				map = new google.maps.Map(mapId, {
					zoom:5,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				});
			}
			preInitialize();
		}
	if ev.geo != null
		script(defer="true").
			function preInitialize() {
				var location = new google.maps.LatLng(#{ev.geo.geo.lat}, #{ev.geo.geo.lng});
				initialize(location)	
			}
	else if ev.address != null
		//- geolocate the address
		script(defer="true").
			function preInitialize() {
				geocoder = new google.maps.Geocoder();
				geocoder.geocode({ address: "#{ev.address}" }, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						initialize(results[0].geometry.location);
					}
				});
			}
		
	script(defer="true").
		function initialize(location) {
			if (!map) return;
			map.setCenter(location);
			map.setZoom(12);
			
			var marker = new google.maps.Marker({
				map: map,
				position: location
			});
			var infowindow = new google.maps.InfoWindow;
		
			var content = '<div class="map-content"><h3>#{ev.name}</h3>#{ev.address}<br /><a href="http://maps.google.com/?daddr=#{ev.address}" target="_blank">Get Directions</a></div>';
			infowindow.setContent(content);
			google.maps.event.addListener(
				marker, 
				'click', 
				infoCallback(infowindow, marker)
			);
		
			function infoCallback(infowindow, marker) {
				return function() {
					infowindow.open(map, marker);
				};
			}
		};
		window.onload = function() {
			//preInitialize();
		}
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=load", defer="true")