mixin navbar
	- var base = "/event/"+ev._id+"/";
	.row
		.col-xs-12.hide-all2
			form(method="POST", accept-charset="utf-8")
				input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
				input(type="hidden", name="_csrf", value=token)
				input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
		.clearfix.hide-all2


	//- inbox title plus buttons
	.nspacer
	.row
		.col-md-12.col-xs-12.col-sm-12
			.pull-right
				.inline.nspacer-small
					.font-x1.bg-purple.center.psev2.prof-wall
						a.link-white(href= (loggedIn == true ? base+"attendee/"+user._id : base+"attendees")) My profile <br />
							img(src="/images/menu-profile.svg", alt="", style="")
				.inline.nspacer-small
					.font-x1.bg-purple.psev2.prof-wall
						a.link-white(href=base+"registrationpage") Registration
							br
							| page
							img.pad-left-ten(src="/images/menu-registration.svg", alt="", style="")
				.inline.nspacer-small
					.font-x1.bg-purple.center.psev2.prof-wall
						a.link-white(href=base+"dropdown") Event dropbox <br />
							img(src="/images/menu-drop.svg", alt="", style="")

	.clearfix

	//- end inbox title plus buttons
	
	if eventadmin
		//- second inbox title plus buttons
		.nspacer

		.col-md-4.col-xs-4.col-sm-4.nspacer-medium.hide-mini3-except-smart
			.font-s
				b Planner options
		.col-md-8.col-xs-8.col-sm-8.hide-mini3-except-smart
			.font-x1.bg-yellow.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
				a.link-purple(href=base+"admin/logos") Event Layout
			.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
				a.link-white(href=base+"admin/email") Email Attendees
			//-.font-x1.bg-green.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
			//-	a.link-white(href=base+"admin/notifications") Push Notifications
			.font-x1.bg-yellow.center.pull-right.psev2.prof-wall
				a.link-purple(href=base+"admin/feedback") Feedback<br/>Profiles
			.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
				a.link-white(href=base+"admin/summary") Event Summary
			.font-x1.bg-green.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
				a.link-white(href=base+"admin/panel") Admin Panel
		.clearfix.hide-mini3-except-smart

		.col-md-6.col-xs-5.col-sm-6.hide-mini3-except-smart
			.line-green(style="height:3px; margin-top:-3px;")
		
		.col-md-12.col-xs-12.col-sm-12.nspacer-medium.hide-all2
			.center
				.font-tw.inline
					b Planner options
		.clearfix.hide-all2
		.col-md-12.col-xs-12.col-sm-12.hide-all2
			.center
				.inline.nspacer-small
					.font-x1.bg-green.center.psev2.prof-wall
						a.link-white(href=base+"admin/panel") Admin <br/>Panel
				.inline.nspacer-small
					.font-x1.bg-purple.center.psev2.prof-wall
						a.link-white(href=base+"admin/summary") Event <br/>Summary
				.inline.nspacer-small
					.font-x1.bg-yellow.center.psev2.prof-wall
						a.link-purple(href=base+"admin/feedback") Feedback<br/>Profiles
				//-.inline.nspacer-small
				//-	.font-x1.bg-green.center.psev2.prof-wall
				//-		a.link-white(href=base+"admin/notifications") Push <br/>Notifications
				.inline.nspacer-small
					.font-x1.bg-purple.center.psev2.prof-wall
						a.link-white(href=base+"admin/email") Email <br/>Attendees
				.inline.nspacer-small
					.font-x1.bg-yellow.center.psev2.prof-wall
						a.link-purple(href=base+"admin/logos") Event <br/>Layout

			//- second end inbox title plus buttons